@mixin fontawesome {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*for the px convert to em*/
$base__font-size :16px;

@function em($px, $base: $base__font-size){
@return ($px / $base) * 1em;
}



@mixin transform_translate($x,$y) {
    transform: translate($x,$y);
    -moz-transform: translate($x,$y);
    -webkit-transform: translate($x,$y);
    -o-transform: translate($x,$y);
}

@mixin transform_scale($x,$y) {
    transform: scale($x,$y);
    -moz-transform: scale($x,$y);
    -webkit-transform: scale($x,$y);
    -o-transform: scale($x,$y);
}

@mixin transform_rotate($x) {
   transform: rotate($x);
   -moz-transform: rotate($x);
   -webkit-transform: rotate($x);
   -o-transform: rotate($x);
}


//BACKGROUND RGBA COLORS
@mixin t-black($opacity:.6) {
    background: rgba(0,0,0,$opacity);
}

@mixin t-white($opacity:.9) {
    background: rgba(256,256,256,$opacity) !important;
}

@mixin t-color($value1:0,$value2:0,$value3:0,$opacity:.8) {
    background: rgba($value1,$value2,$value3,$opacity);
}


@mixin border-radius($value:5px) {
    -webkit-border-radius: $value;
    border-radius: $value;
    -moz-border-radius: $value;
}


@mixin black-white() {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


@mixin grid() {
    display: grid;
    display: -ms-grid;
}


a[disabled], a[disabled]:hover {
    pointer-events: none;
    color: #e1e1e1;
}


@mixin clearfix {
    display: block;
    clear: both;
    content: '';
}



@mixin white-shade() {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+3,0+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 3%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 3%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}


@mixin box-shadow {
    -webkit-box-shadow: 0 1px 5px 1px rgba(0,0,0,.5);
box-shadow: 0 1px 5px 1px rgba(0,0,0,.5);
}