$font-primary: 'Roboto', sans-serif;

$weight-bold:bold;
$weight-extrabold:800;
$weight-semibold:600;
$weight-light:300;
$weight-normal:normal;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Light.eot');
    src: url('../../public/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-Light.woff') format('woff'),
        url('../../public/fonts/OpenSans-Light.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-SemiBold.eot');
    src: url('../../public/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../../public/fonts/OpenSans-SemiBold.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Regular.eot');
    src: url('../../public/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-Regular.woff') format('woff'),
        url('../../public/fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Bold.eot');
    src: url('../../public/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-Bold.woff') format('woff'),
        url('../../public/fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}




// @font-face {
//     font-family: 'Open Sans';
//     src: url('../../public/fonts/OpenSans-ExtraBoldItalic.eot');
//     src: url('../../public/fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
//         url('../../public/fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
//         url('../../public/fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
//         url('../../public/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
//         url('../../public/fonts/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg');
//     font-weight: 800;
//     font-style: italic;
// }

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-SemiBold.eot');
    src: url('../../public/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../../public/fonts/OpenSans-SemiBold.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Bold.eot');
    src: url('../../public/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-Bold.woff') format('woff'),
        url('../../public/fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

// @font-face {
//     font-family: 'Open Sans';
//     src: url('../../OpenSans-BoldItalic.eot');
//     src: url('../../OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
//         url('../../OpenSans-BoldItalic.woff2') format('woff2'),
//         url('../../OpenSans-BoldItalic.woff') format('woff'),
//         url('../../OpenSans-BoldItalic.ttf') format('truetype'),
//         url('../../OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
//     font-weight: bold;
//     font-style: italic;
// }

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Light.eot');
    src: url('../../public/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-Light.woff') format('woff'),
        url('../../public/fonts/OpenSans-Light.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-ExtraBold.eot');
    src: url('../../public/fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-ExtraBold.woff') format('woff'),
        url('../../public/fonts/OpenSans-ExtraBold.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

// @font-face {
//     font-family: 'Open Sans';
//     src: url('../../OpenSans-SemiBoldItalic.eot');
//     src: url('../../OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
//         url('../../OpenSans-SemiBoldItalic.woff2') format('woff2'),
//         url('../../OpenSans-SemiBoldItalic.woff') format('woff'),
//         url('../../OpenSans-SemiBoldItalic.ttf') format('truetype'),
//         url('../../OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic') format('svg');
//     font-weight: 600;
//     font-style: italic;
// }