.johnCena, .template {
    display: none !important;
}

.widget-advanced-alt .widget-header {
    height: auto;
    min-height: 100px;
}

.has-error .form-control:read-only {
    background-color: #eee;
}

.preloader .inner {
    top: 35%;
}

.dz-image {
    height: auto !important;
    width: auto !important;
    padding: 10px !important;
}

.dz-details {
    height: auto !important;
    width: auto !important;
    padding: 10px !important;
}

.dz-image img {
    margin: auto;
    width: auto;
    height: 100px;
}

.dz-remove-image-button {
    cursor: pointer !important;
}

.dz-preview {
    width: 120px !important;
    margin-bottom: 40px !important;
}

.g-recaptcha > div {
    width: 100% !important;
}