.billing-payment{
	background: $color-tridenary;
	padding-top:117px !important;
    padding-bottom: 404px !important;
    &__price{
    	text-align: right;
    }
    i{
    	&.blue-caret-down{
    		@include sprite(blue-caret-down);
		    left: -6px;
		    top: -3px;
		    position: relative;
    	}
    	&.line{
    		height:1px;
    		width: 100%;
		    background: $color-octovigenary;
		    margin-top: 13px;
		    display: block;
    	}
    	&.checkbox-blank{
    		@include sprite(checkbox-blank);
    		cursor:pointer;
    	}
    	&.checkbox-checked{
    		@include sprite(checkbox-checked);
    		cursor:pointer;
    		
    	}
    }
    label{
    	width:100%;
    	@include font-size(16);
		@include line-height(39);
		@include color($color-quinvigenary);
		@include font-family(___);
		@include font-weight(600);
		@include letter-spacing(___);
		@include text-transform(___);
		margin-bottom: 0px;
		span{
			color:$color-nonavigenary;
		}
    }
    h3{
    	margin-left:3px;
    }
    input,button {
    	width:calc(100% - 15px);
    	padding: 7px 7px 7px 24px;
    	border:1px solid $color-octonary;
    	color:$color-quinvigenary;
    	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: $color-trivigenary;
			@include font-size(14);
			@include line-height(39.04);
			@include color(#___);
			@include font-family(___);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: $color-trivigenary;
			color: $color-trivigenary;
			@include font-size(14);
			@include line-height(39.04);
			@include color(#___);
			@include font-family(___);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: $color-trivigenary;
			color: $color-trivigenary;
			@include font-size(14);
			@include line-height(39.04);
			@include color(#___);
			@include font-family(___);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: $color-trivigenary;
			color: $color-trivigenary;
			@include font-size(14);
			@include line-height(39.04);
			@include color(#___);
			@include font-family(___);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
		}
    }
	input[type='checkbox'] ~ img.unchecked{
		display: inline-block;
	}
	input[type='checkbox'] ~ img.checked{
		display: none;
	}
	input[type='checkbox']:checked ~ img.unchecked{
		display: none;
	}
	input[type='checkbox']:checked ~ img.checked{
		display: inline-block;
	}
    &__input-on-next{
	    margin-bottom: 11px;
    }
	&__wrapper{
		&--row{
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:1099px) {
				.col-md-8, .col-md-4 {
					width: 100%;
					flex: 100%;
					max-width: 100%;
				}
			}
		}
	}
	&--left{
	    background: white;
	    padding: 29px;
	    margin-top: 97px;
	    border-radius: 16px;
	    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
	    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
	    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        > div{
        	margin:0px;
        }
        > div > div{
        	padding:0px;
        	margin-top:16px;
        }
	}
	&--right{
	    background: white;
	    padding: 29px;
	    margin-top: 97px;
	    border-radius: 16px;
	    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
	    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
	    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
	}
	&__right-side{
		font-weight: 600;
	}
	h1{
	    @include font-size(58);
		@include line-height(37);
		@include color($color-tertiary);
		@include font-family($font-primary);
		@include font-weight(___);
		@include letter-spacing(___);
		@include text-transform(___);
		/* MEDIA & RESPONSIVE CSS */
		@media only screen and (max-width:991px) {
			text-align: center;
		}
	}
    h2{
		@include font-size(21);
		@include line-height(39);
		@include color($color-quinvigenary);
		@include font-family($font-secondary);
		@include font-weight(___);
		@include letter-spacing(___);
		@include text-transform(___);
		b,strong{
			font-weight: 600;
		}
    }
    h3{
    	color: #426db5;
	    font-weight: 600;
	    font-size: 18px;
    }
    &__table-items{
	    margin-top: 97px;
    }
	&__table{
		&--right{
		    padding-left: 20px;
		}
		&--columns{
			// 1432
			$classname:"&:not(:nth-child(-1))";
			$array:(
				("specific", "min-width:1387px", percentage((1432 - (198+211+179))/1432), "nth-child(1)"),
				("specific", "min-width:1387px", percentage(198/1432), "nth-child(2)"),
				("specific", "min-width:1387px", percentage(211/1432), "nth-child(3)"),
				("specific", "min-width:1387px", percentage(179/1432), "nth-child(4)"),

				("specific", "max-width:1387px", 55%, "nth-child(1)"),
				("specific", "max-width:1387px", 15%, "nth-child(2)"),
				("specific", "max-width:1387px", 15%, "nth-child(3)"),
				("specific", "max-width:1387px", 15%, "nth-child(4)"),
			);
			@include bootstrap-row-selector($classname,$array);
		}
		&--header{
			@include font-size(18);
			@include line-height(39);
			@include color($color-quinvigenary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
			> div{
				text-align: center;
			}
			&:nth-child(1){
				> div{
					&:first-child{
						text-align: unset;
						span{
							text-align: unset;
						    padding-left: 180px;
						}
					}
				}
			}
		}
		&--data{
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
			-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
		    background: white;
		    border-radius: 10px;
		    padding-top: 30px;
	        padding-bottom: 33px;
		    .row{
				$classname:"&:not(:nth-child(-1))";
				$array:(
					("specific", "min-width:1387px", percentage(45/800), "nth-child(1)"),
					("specific", "min-width:1387px", percentage(113/800), "nth-child(2)"),
					("specific", "min-width:1387px", percentage((800 - (45+113))/800), "nth-child(3)"),

					("specific", "max-width:1387px", 55%, "nth-child(1)"),
					("specific", "max-width:1387px", 15%, "nth-child(2)"),
					("specific", "max-width:1387px", 15%, "nth-child(3)"),
				);
				@include bootstrap-row-selector($classname,$array);
		    }
		    img{
	    	    border: 1px solid #e3e3e3;
		        margin-top: 12px;
		    }
		    tr > td{
		    	&:last-child{
		    		font-weight: 600;
		    	}
		    }
		    > div{
		    	&:not(:first-child){
		    		text-align: center;
		    	}
		    }
		    input[type='number']{
		    	padding: 14px 0px;
			    text-align: center;
			    width: 109px;
			    margin: auto;
			    display: block;
			    color:#333;
		    }
		}
		&__item-info{

		}
	}
	&__coupon{
	    margin-top: 30px;
	    input{
	    	color:$color-quaternary;
		    padding: 12px;
		    border-radius: 9px;
		    border: 1px solid $color-septenvigenary;
		    border-top-right-radius: 0px;
		    border-bottom-right-radius: 0px;
	        width: 297px;
	        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $color-quaternary;
			  font-style: italic;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $color-quaternary;
			  font-style: italic;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $color-quaternary;
			  font-style: italic;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $color-quaternary;
			  font-style: italic;
			}

	    }
	    a{
    	    padding: 12px 27px 12px 19px;
		    border-radius: 8px;
		    background: transparent;
		    font-size: 1rem;
		    line-height: 1.8125rem;
		    color: #426db5;
		    font-family: open sans;
		    font-weight: 600;
		    border: 1px solid #426db5;
		    border-top-left-radius: 0px;
		    border-bottom-left-radius: 0px;
		    margin-left: -5px;
	    }
	}
	&__final-buttons{
		margin-top:5px;
		input{
			width: 100%;
		    margin-top: 15px;
		    margin-bottom: 2px;
		    padding: 16px;
		    border-radius: 9px;
		    border: 1px solid $color-tertiary;
		    background: transparent;
		    color:$color-tertiary;
		    &:first-child{
			    color: white;
			    background: $color-tertiary;
		    }
		}
	}
	&__shipping-label{
		display:inline;
	    position: relative;
	    top: 1px;
	    left: 7px;
		cursor: pointer;
	}
	&__shipping-address{
		margin-top: 27px !important;
	}
	&__add-info{
		margin-top: 37px !important;
		h3{
			text-transform: uppercase;
		}
		.line{
			margin-top:17px;
		}
	}
	&__order-notes{
		textarea{
			width: calc(100% - 15px);
		    padding: 17px 7px 7px 24px;
		    border: 1px solid #d4d4d4;
		    height: 145px;
		    @include font-size(14);
			@include line-height(24);
			@include color($color-dark-blue);
			@include font-family(___);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);

    	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: $color-trivigenary;
			@include font-size(14);
			@include line-height(24);
			@include color($color-tricenary);
			@include font-family(___);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: $color-trivigenary;
			color: $color-trivigenary;
			@include font-size(14);
			@include line-height(24);
			@include color($color-tricenary);
			@include font-family(___);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: $color-trivigenary;
			color: $color-trivigenary;
			@include font-size(14);
			@include line-height(24);
			@include color($color-tricenary);
			@include font-family(___);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: $color-trivigenary;
			color: $color-trivigenary;
			@include font-size(14);
			@include line-height(24);
			@include color($color-tricenary);
			@include font-family(___);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
		}
		}
	}
	&__total{
		background: white;
	    padding: 27px 35px;
	    margin-top: 28px;
	    border-radius: 7px;
	    border: 1px solid $color-senary;
	    border-radius: 0px;
	    padding: 1px 16px 0px 16px;
	    margin-bottom: 52px;
		.line{
		    height: 1px;
		    background: #ddd;
		    width: 100%;
		    display: block;
		    margin-bottom: 13px;
		}
		h2{
			&:first-child{
				float:left;
			}
			&:last-child{
				float:right;
			}
		}
		h4{
			@include font-size(18);
			@include line-height(39);
			@include color(#14263c);
			@include font-family(___);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
		}
		h5{
			@include font-size(16);
			@include line-height(21);
			@include color($color-quinvigenary);
			@include font-family(___);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
		}
		h6{
			@include font-size(21);
			@include line-height(39.36);
			@include color($color-quinvigenary);
			@include font-family(___);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
			margin:8px 0px;
		}
	}
	&--border-bottom{
		border-bottom: 1px solid $color-senary;
		h4{
			margin:8px 0px;
		}
	}
	&__item-total{
        padding-top: 24px;
	    padding-bottom: 5px;
	}
	&__item-details{
		padding-bottom: 27px;
	}
	&__place-order{
	    margin-top: 60px;
	    background: $color-tertiary;
	    color: $color-quinary !important;
	    border-radius: 6px;
	    padding: 14px 10px 14px 10px !important;
	}

	.select2-container {
		.select2-selection {
			&--single {
				padding: 7px 7px 7px 16px;
				height: 40px;
				border-radius: 0;
				border: 1px solid #d4d4d4;
				outline: none;
			}
			&__arrow {
				top: 8px;
				right: 8px;
			}
		}
		&--focus {
			.select2-selection {
				&--single {
					outline: #fff auto 5px;
				}
			}
		}
	}
	.form-group.has-error {
		input, select {
			border: 1px solid #FF0000;
		}
		span.help-block {
			color: #FF0000;
			font-style: italic;
		}

	}
}
.select2-dropdown {
	border-radius: 0;
	border: 1px solid #d4d4d4;
}