.cart-details{
	background: $color-tridenary;
	padding-top:117px !important;
    padding-bottom: 70px !important;
	&__wrapper{
		&--row{
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:991px) {
				.col-md-4, .col-md-3 {
					width: 100%;
					flex: 100%;
					max-width: 100%;
				}
				.offset-md-3 {
					margin: 0 !important;
				}
			}
		}
	}
	
	i{
		&.refresh{
			@include sprite(refresh);
		    top: 8px;
		    position: relative;
		    left: 0px;
		    cursor:pointer;
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:991px) {
				top: 6px;
				left: 0;
			}
		}
		&.white-caret-right{
			@include sprite(white-caret-right);
		    left: 17px;
		    position: relative;
		}
	}
	h1{
	    @include font-size(58);
		@include line-height(37);
		@include color($color-tertiary);
		@include font-family($font-primary);
		@include font-weight(___);
		@include letter-spacing(___);
		@include text-transform(___);
		/* MEDIA & RESPONSIVE CSS */
		@media only screen and (max-width:991px) {
			line-height: 4rem;
			text-align: center;
		}
	}
    h2{
		@include font-size(21);
		line-height: normal;
		@include color($color-quinvigenary);
		@include font-family($font-secondary);
		@include font-weight(___);
		@include letter-spacing(___);
		@include text-transform(___);
		b,strong{
			font-weight: bold;
		}
    }
    &__table-items{
	    margin-top: 97px;

		.details-item-wrap {
			border-radius: 10px;
			margin-bottom: 20px;
			background: white;
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
			-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
			.mobile-cart-title {
				display: none;
				/* MEDIA & RESPONSIVE CSS */
				@media only screen and (max-width:991px) {
					display: block;
					color: #14263c;
					font-size: 24px;
					font-weight: 600;
					margin-bottom: 5px;
				}
			}
		}
    }
	&__table{
		&--columns{
			// 1432
			/*$classname:"&:not(:nth-child(-1))";
			$array:(
				("specific", "min-width:1387px", percentage((1432 - (198+211+179))/1432), "nth-child(1)"),
				("specific", "min-width:1387px", percentage(198/1432), "nth-child(2)"),
				("specific", "min-width:1387px", percentage(211/1432), "nth-child(3)"),
				("specific", "min-width:1387px", percentage(179/1432), "nth-child(4)"),

				("specific", "max-width:1387px", 55%, "nth-child(1)"),
				("specific", "max-width:1387px", 15%, "nth-child(2)"),
				("specific", "max-width:1387px", 15%, "nth-child(3)"),
				("specific", "max-width:1387px", 15%, "nth-child(4)"),
			);
			@include bootstrap-row-selector($classname,$array);*/

		}
		&--header{
			@include font-size(18);
			@include line-height(39);
			@include color($color-quinvigenary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
			> div{
				text-align: center;
			}
			&:nth-child(1){
				> div{
					&:first-child{
						text-align: unset;
						span{
							text-align: unset;
						    padding-left: 180px;
						}
					}
				}
			}
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:991px) {
				display: none;
			}
		}

		&--data{
			border-bottom: 2px solid #f4f4f6;
		    padding-top: 30px;
	        padding-bottom: 33px;
			margin: 0;
			@media only screen and (max-width:991px){
				.col-md-9, .col-md-6, .col-md-2 {
					width: 100%;
					flex: 100%;
					max-width: 100%;
					text-align: center;
				}
			}
			&:last-child {
				border-bottom: none;
			}

		    .img-holder {
				position: relative;
	    	    border: 1px solid #e3e3e3;
		        margin-top: 12px;
				height: 105px;
				/* MEDIA & RESPONSIVE CSS */
				@media only screen and (max-width:991px) {
					height: 180px;
				}
				&::before {
					content: '';
					width: 0;
					height: 100%;
					display: inline-block;
					vertical-align: middle;
				}
				.img-item {
					display: contents;
					vertical-align: middle;
					img {
						max-width: 90px;
						max-height: 103px;
						/* MEDIA & RESPONSIVE CSS */
						@media only screen and (max-width:1599px) {
							max-width: 90px;
						}
						@media only screen and (max-width:1399px) {
							max-width: 80px;
						}
						@media only screen and (max-width:1299px) {
							max-width: 70px;
						}
						@media only screen and (max-width:1199px) {
							max-width: 60px;
						}
						@media only screen and (max-width:991px) {
							max-width: 150px;
						}

					}
				}
		    }
		    tr > td{
		    	&:last-child{
		    		font-weight: 600;
					padding-left: 10px;
		    	}
		    }
		    > div{
		    	&:not(:first-child){
		    		text-align: center;
		    	}
		    }
		    input[type='number'],select {
		    	float:left;
		    	padding: 14px 0px 14px 15px;
			    text-align: center;
			    width: 95px;
			    margin: auto;
			    display: block;
			    color:#333;
		        //margin-left: 35px;
				/* MEDIA & RESPONSIVE CSS */
				@media only screen and (max-width:1299px) {
					width: 80px;
				}
				@media only screen and (max-width:1199px) {
					width: 70px;
					padding: 14px 0 14px 10px;
				}
				@media only screen and (max-width:1099px) {
					width: 60px;
					padding: 14px 0 14px 5px;
					margin: 0 auto;
					display: block;
					float: none;
				}


		    }


			[type='submit'] {
				background: none;
				border: none;
				display: inline-block;
				width: 30px;
				

			}
			a.delete-cart-btn {
				color: #14263c;
				margin-top: -20px;
				/* MEDIA & RESPONSIVE CSS */
				@media only screen and (max-width:1399px) {
					margin-top: 0;
				}
			}
			.form-group {
				margin-top: -8px;
				margin-bottom: 0;
				margin-left: 50px;
				display: inline-block;
				@media only screen and (max-width:1399px) {
					margin-top: 0;
				}

				.form-control{
					width: 80px;
				}
			}
		}
		&__item-info{
			min-height: 151px;
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:1399px) {
				table {
					//margin:0 auto;
					text-align: left;
				}
			}
		}
	}
	&__coupon{
	    margin-top: 10px;
		margin-left: 15px;
	    input{
	    	color:$color-quaternary;
		    padding: 14px 12px 14px 22px;
		    border-radius: 9px;
		    border: 1px solid $color-septenvigenary;
		    border-top-right-radius: 0px;
		    border-bottom-right-radius: 0px;
	        width: 297px;
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:1399px) {
				width: 270px;
			}
			@media only screen and (max-width:1299px) {
				width: 240px;
			}
			@media only screen and (max-width:1199px) {
				width: 200px;
			}
			@media only screen and (max-width:1199px) {
				width: 180px;
				padding: 14px 12px 14px 18px;
			}
			@media only screen and (max-width:991px) {
				width: 270px;
			}
			@media only screen and (max-width:480px) {
				width: 97%;
				border-radius: 9px !important;
			}



	        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $color-quaternary;
			  font-style: italic;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $color-quaternary;
			  font-style: italic;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $color-quaternary;
			  font-style: italic;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $color-quaternary;
			  font-style: italic;
			}

	    }
	    a, button{
    	    padding: 15px 27px 15px 19px;
		    border-radius: 8px;
		    background: transparent;
		    font-size: 1rem;
		    line-height: 1.8125rem;
		    color: #426db5;
		    font-family: open sans;
		    font-weight: 600;
		    border: 1px solid #426db5;
		    border-top-left-radius: 0px;
		    border-bottom-left-radius: 0px;
		    margin-left: -5px;

	    }
		button {
			padding: 12px 27px 11px 19px;
			@media only screen and (max-width:1299px) {
				padding: 12px 19px 11px 19px;
			}
			@media only screen and (max-width:480px) {
				width: 97%;
				margin-left: 0;
				border-radius: 9px !important;
			}

		}
	}
	&__total{
		background: white;
	    padding: 27px 35px;
	    margin-top: 10px;
	    border-radius: 7px;
		.line{
		    height: 1px;
		    background: #ddd;
		    width: 100%;
		    display: block;
		    margin-bottom: 13px;
		}
		h2{
			&:first-of-type{
				float:left;
			}
			&:last-of-type{
				float:right;
			}
		}
	}
	&__final-buttons{
		margin-top:5px;
		input,button,a {
			width: 100%;
		    margin-top: 15px;
		    margin-bottom: 2px;
		    padding: 16px;
		    border-radius: 9px;
		    border: 1px solid $color-tertiary;
		    background: transparent;
		    color:$color-tertiary;
			display: block;
			text-align: center;
		    &:first-child, &.dark{
			    color: white;
			    background: $color-tertiary;
		    }
		}
	}
}

@media only screen and (max-width:1405px){
	.cart-details__table--data .form-group{margin-left: 30px;}
}

@media only screen and (max-width:1261px){
	.cart-details__table--data .form-group{margin-left: 20px;}
}

@media only screen and (max-width:1189px){
	.cart-details__table--data .form-group{margin-left: 10px;}
}

@media only screen and (max-width:991px){
	.cart-details__table__item-info table{margin: 15px auto;}
}