.cta-faq{
    margin-top: -83px;
	@media only screen and (max-width:991px) {
		margin-top: 60px;
	}
	&__wrapper{
		&--row{

		}
	}
	&__items {
		position: relative;
		@media only screen and (max-width:991px) {
			.col-md-4 {
				flex: 100%;
				width: 100%;
				max-width: 100%;
			}
		}
	}
	&__item{
		@include image-background();
		width:100%;
		max-width:403px;
		height:158px;
		background-color:$color-tertiary;
		border-radius: 10px;
		padding:36px 18px 49px 37px;
		/* MEDIA & RESPONSIVE CSS */
		@media only screen and (max-width:1299px) {
			padding:36px 15px 49px 15px;
		}
		@media only screen and (max-width:1099px) {
			padding:36px 0 49px;
		}
		@media only screen and (max-width:991px) {
			margin: 0 auto 15px;
		}

		&::after {
		  content: "";
		  opacity: 0.5;
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		  position: absolute;
		  z-index: -1;   
		}
		i{
			float: left;
		    position: relative;
		    top: 13px;
		    left: 12px;
			&.building{
				@include sprite(building);
			}
			&.phone{
				@include sprite(phone);
			}
			&.mail{
				@include sprite(mail);
			}
			&.small-caret-right{
				@include sprite(small-caret-right);
			}
		}
		h2{
			@include font-size(24);
			@include line-height(41);
			@include color($color-quinary);
			@include font-family($font-primary);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
		    float: left;
		    margin:17px 0px -6px 22px;
			@media only screen and (max-width:1199px) {
				font-size: 1.3rem;
			}
			@media only screen and (max-width:1099px) {
				font-size: 18px;
				margin:17px 0px -6px 15px;
			}
			@media only screen and (max-width:991px) {
				font-size: 20px;
				margin:17px 0px -6px 22px;
			}


		}
		a{
			@include font-size(18.02);
			@include line-height(30.01);
			@include color($color-quinary);
			@include font-family(___);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
			float: left;
		    width: 200px;
		    margin-left: 22px;
		    display: flex;
			@media only screen and (max-width:1199px) {
				font-size: 16px;
			}
			@media only screen and (max-width:1099px) {
				font-size: 13px;
				margin-left: 15px;
			}
			@media only screen and (max-width:991px) {
				font-size: 15px;
				margin-left: 22px;
			}


		}
	}
}
