.customer-login{
	padding-top: 150px !important;
    input, textarea {
        padding: 18px 29px;
        width: 100%;
        border-radius: 10px;
        background: white;
        border: 1px solid #bbb;
        color: #777 !important;
        margin-top: 12px;
        font-family: "Roboto", sans-serif;
    }
    input[type=checkbox]#remember {
      position: relative;
      width: 20px;
      height: 20px;
      top: 19px;
    }
    input:focus{
        outline: #bbb auto 5px !important;
        outline-color: #bbb !important;
        border-radius: 10px;
    }

    input:hover {
        color: #777 !important;
    }

    textarea:hover {
        color: #777 !important;
    }

    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #777 !important;
    }

    input::-moz-placeholder { /* Firefox 19+ */
        color: #777 !important;
    }

    input:-ms-input-placeholder { /* IE 10+ */
        color: #777 !important;
    }

    input:-moz-placeholder { /* Firefox 18- */
        color: #777 !important;
    }

    textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #777 !important;
    }

    textarea::-moz-placeholder { /* Firefox 19+ */
        color: #777 !important;
    }

    textarea:-ms-input-placeholder { /* IE 10+ */
        color: #777 !important;
    }

    textarea:-moz-placeholder { /* Firefox 18- */
        color: #777 !important;
    }

    textarea {
        height: 227px;
    }
    div{
	    font-size: 1.00125rem;
	    line-height: 1.563125rem;
	    color: #3b3d43;
	    font-family: open sans;
    }
    small{
    	font-size: 14px;
    }
    [type='submit']{
    	background:#6c257e;
        border:0px solid transparent;
        font-family: "Roboto", sans-serif;
	    margin-top: -40px;
	    padding: 12px 24px 12px 22px;
	    border-radius: 8px;
	    font-size: 16px;
        &:hover,
        &:active,
        &:focus{
            background:#6c257e !important;
            border-color: #6c257e !important;
    	}
    }

    .remember-me{
	    position: relative;
	    top: 14px;
    }
    a{
    	color:#6c257e;
    }
    h1{
    	font-size: 32px;
	    margin-bottom: 14px;
    }
}