.faq-items{
	margin-top: 104px;
	@media only screen and (max-width:991px) {
		margin-top: 60px;
	}
	&__wrapper{
		&--row{

		}
	}
	&__item{
		h2{
			@include font-size(25.97);
			@include line-height(29.97);
			@include color($color-primary);
			@include font-family($font-secondary);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
			background:$color-quinary;
		    border-radius: 10px;
		    padding: 24px 43px 25px 43px;
		    font-weight: 600;
		    border:1px solid $color-senary;
	        margin-bottom: 20px;
			display:flex;
	        i{
	        	margin-left:auto;
        	    top: 4px;
        	    position: relative;
        	    cursor: pointer;
	        	&:after{
	        		content:'';
	        		@include sprite(arrow-down);
	        	}
	        }
		}
		a {
			cursor: pointer !important;
		}
		p{
			padding:11px 59px 39px 32px;
			//display:none;
			@include font-size(16);
			@include line-height(24.98);
			@include color($color-quaternary);
			@include font-family($font-secondary);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
		}
		&.active{
			h2{
				@include box-shadows(rgba(0,0,0,0.2));
				color:$color-tertiary;
				font-family:$font-quaternary;
		        i{
		        	&:after{
		        		content:'';
		        		@include sprite(arrow-up);
		        	}
		        }
			}
			p{
				display:block;
				padding:11px 59px 39px 32px;
			}
		}
	}
}
