.faq-links{
    margin-top: 47px;
    margin-bottom: 125px;
	&__wrapper{
		&--row{

		}
	}
	i{
		&.caret-right{
			@include sprite(caret-right);
			position: relative;
		    left: 11px;
		}
	}
	&__buttons{
		display: flex;
		justify-content:center;
		@media only screen and (max-width:480px) {
			display: block;
		}
		> a{
		    padding: 16px 27px;
		    min-width: 222px;
		    border-radius: 10px;
		    border: 1px solid $color-tertiary;
		    margin: 12px;
		    text-align: center;
	        font-weight: 600;
			@media only screen and (max-width:480px) {
				display: block;
			}
		}
		&__button{
			background:$color-tertiary;
			color:$color-quinary;
			&:hover{
				color:$color-quinary;
			}
			&--reversed{
				background:$color-quinary;
				color:$color-tertiary;
				&:hover{
					color:$color-tertiary;
				}
			}
		}
	}
}