.featured-labels{
	&__wrapper{
		&--row{

		}
	}
}
/*.featured-slider {
  .slick-slide {
    .show-active {
      //display: none;
      position: absolute;
      opacity: 0;
      z-index: 1;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
    }
    .hide-active {
      //display: block;
      opacity: 1;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
    }
  }
  .slick-slide.slick-current {
    .show-active {
      //display: block;
      position: absolute;
      opacity: 1;
      z-index: 1;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
    }
    .hide-active {
      //display: none;
      opacity: 0;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
    }
  }
  !*.slick-slide.slick-current.slick-active {
    width: 915px;
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -ms-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
  }
  .slick-slide.slick-active {
    width: 435px;
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -ms-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
  }
  .pl-5, .px-5 {
    padding-left: 0.5rem !important;
  }
  .pr-5, .px-5 {
    padding-right: 0.5rem !important;
  }*!
  //.slick-list{padding: 0 50% 0 0 !important;}
}*/

.c33-1 {
  position: relative;
  margin-left: 0;
  left: 5%;
}
.c34-1 {
  position: relative;
  margin-right: 0;
  right: 5%;
}
