.gallery-items{
	&__wrapper{
		&--row{

		}
	}
	&__gallery{
		//margin-top: -84px;
		
		p{
			display:none;
		}
		> div{
		    //height: 334px;
	        margin-bottom: 30px;
		    a{
		    	display: block;
			    background-size: contain;
			    //height: 100%;
				width: 100%;
				position: relative;

				/* MEDIA & RESPONSIVE CSS */
				@media only screen and (max-width:767px) {
					max-width: 338px;
					margin: 0 auto;
				}
		    }
			img{
				position:relative;
				width: 100%;
			}
		}
	}
	&__hover{
		@include soft();
		position: absolute;
		top: 0;
	    display: flex;
	    justify-content: center;
	    align-items: center;
		i{
			&.round-plus{
				@include sprite(round-plus);
				@include opacity(0);
				@include soft();
			}
		}
		height:100%;
		width:100%;
	    &:hover{
    		background:#6c257e !important;
			@include opacity(0.85);
			i{
				&.round-plus{
					@include sprite(round-plus);
					@include opacity(1);
				}
			}
	    }
	}
	&__load-more{
		text-align: center;
	    margin-top: 56px;
	    margin-bottom: 63px;
		a{
		    padding: 10px 44px;
		    min-width: 222px;
		    border-radius: 10px;
		    border: 1px solid $color-tertiary;
		    margin: 12px;
		    text-align: center;
			background:$color-quinary;
			color:$color-tertiary;
			font-weight: 600;
			&:hover{
				color:$color-tertiary;
			}
		}
	}
	&__modal{
		display: none;
	    background: rgba(0, 0, 0, 0.8);
	    position: fixed;
	    height: 300%;
	    z-index: 70;
	    top: 0px;
	    width: 100%;
	    text-align: center;
	    margin-top: -62px;
	    padding-bottom: 45px;
	    @include font-size(18);
		@include line-height(29.98);
		@include color(#fff);
		@include font-family(___);
		@include font-weight(___);
		@include letter-spacing(___);
		@include text-transform(___);
		i{
			&.big-white-caret-left{
				@include sprite(big-white-caret-left);
			    position: relative;
			    left: -81px;
			}	
			&.big-white-caret-right{
				@include sprite(big-white-caret-right);
			    position: relative;
			    right: -81px;
			}	
		}
		p{
			width: 58%;
		    margin: auto;
		    margin-top: 23px;
		    text-align: left;
		    margin-bottom: 30px;
		}
	    img{
	    	margin-right: 8px;
	    	&:first-child{
	    		margin-left:8px;
	    	}
	    }
		&__scale{
			transform: scale(0.8);
		}
	}
}
.page-gallery {
	.sub-banner__image {
		h1,h2 {
			@media only screen and (max-width:991px) {
				padding:103px 0 23px;
				font-size: 42px;
				line-height: 44px;
				width: 100%;
				text-align: center;
			}
		}
	}
	p {
		@media only screen and (max-width:991px) {
			padding:25px 0 23px;
			width: 100%;
			text-align: center;
		}
	}
}
