.label-shape{
	background:$color-tridenary;
	padding-top:121px !important;
	padding-bottom: 212px !important;
	i{
		&.star{
			@include sprite(star);
		}
		&.check{
			@include sprite(check);
			display: none;
		}
		&.checklist{
			@include sprite(checklist);
		}
	}
	&__wrapper{
		&--row{

		}
	}
	&__navigation{
		background:$color-tertiary;
		float:left;
	    width: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 20px 0px;
		ol{
			background: #551d63;
			margin: 0;
			float:left;
		    counter-reset: item;
			list-style: none;
			padding: 10px 0px 9px 0px;
			border-radius: 99px;
			overflow: hidden;
			-webkit-box-shadow: inset 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: inset 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
			box-shadow: inset 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
			@media only screen and (max-width:1099px) {
				border-radius: 0;
			}
			@media only screen and (max-width:991px) {
				padding: 10px 40px;
			}
			li{
		        padding-left: 31px !important;
				float:left;
			    display: flex;
			    align-items: center;
			    min-height: 39px;
				@media only screen and (max-width:991px) {
					float: none;
					flex: 100%;
					width: 100%;
					max-width: 52%;
					margin: 4px auto;
					padding-left: 60px !important;
				}
				@media only screen and (max-width:360px) {
					padding-left: 80px !important;
				}

			    &.active{
			    	label{
			    		background: $color-quinary;
					    color: $color-tertiary;
					    height: 72%;
					    display: flex;
					    align-items: center;
					    position: absolute;
					    margin-left: 15px;
					    padding-left: 34px;
					    width: 100%;
					    z-index: 0;
						@media only screen and (max-width:991px) {
							border-top-right-radius: 15px;
							border-bottom-right-radius: 15px;
						}
			    	}
					&:before {
			    		background: $color-quinary;
					    color: $color-tertiary;
					    font-weight: 600;
						border:1px solid $color-tertiary;
					}
					&:last-of-type label {
					    border-top-right-radius: 14px;
					    border-bottom-right-radius: 14px;
					    width: 70%;
					}
			    }
				label{
					color:$color-duodenary;
				    font-weight: 600;
				    @include font-size(16);
					@include line-height(39.98);
					margin:0px;
				}
				&:before {
					background:$color-tertiary;
					content: counter(item) " ";
				    counter-increment: item;
				    margin-right: 12px;
					border:1px solid $color-duodenary;
				    border-radius: 99px;
				    height: 37px;
				    width: 37px;
				    float: left;
				    text-align: center;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				    color:$color-duodenary;
				    font-weight: 600;
				    @include font-size(15);
					@include line-height(11.63);
					z-index: 1;
				}
			}
		}
	}
	&__view{
		float:left;
	    width: 100%;
		h1{
			@include font-size(31);
			@include line-height(40.04);
			@include color($color-quatourdenary);
			@include font-family($font-primary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
			text-align: center;
			padding: 50px 137px 3px 137px;
			@media only screen and (max-width:991px) {
				padding: 50px 40px 3px;
			}
		}
		p{
			@include font-size(18.02);
			@include line-height(30.01);
			@include color($color-quaternary);
			@include font-family($font-secondary);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
			text-align: center;
			padding: 0px 137px 16px 137px;
			@media only screen and (max-width:991px) {
				padding: 0 40px 16px;
			}
		}
		&--left{
		    border-right: 3px solid $color-septendenary;
			@media only screen and (max-width:991px) {
				width: 100%;
				flex: 100%;
				max-width: 100%;
			}
		}
		&--right{
			padding:47px 33px 43px 32px;
			@media only screen and (max-width:1099px) {
				padding:47px 30px 43px 15px;
			}
			@media only screen and (max-width:991px) {
				width: 100%;
				flex: 100%;
				max-width: 100%;
				padding: 47px 33px 43px 33px;
			}
			h2{
				@include font-size(31);
				@include line-height(40.04);
				@include color($color-decenoctonary);
				@include font-family($font-primary);
				@include font-weight(600);
				@include letter-spacing(___);
				@include text-transform(___);
			    margin-bottom: 52px;
			}
			label{
				@include font-size(23.99);
				@include line-height(40.02);
				@include color($color-decennonary);
				@include font-family($font-secondary);
				@include font-weight(600);
				@include letter-spacing(___);
				@include text-transform(___);
				margin-bottom: 0px;
			    margin-right: 12px;
				@media only screen and (max-width:1099px) {
					font-size: 18px;
				}
			}
			span{
				@include font-size(15.99);
				@include line-height(27.98);
				@include color($color-decenoctonary);
				@include font-family($font-secondary);
				@include font-weight(600);
				@include letter-spacing(___);
				@include text-transform(___);
				&:last-child{
					display:block;
				}
			}
			ul{
				list-style: none;
				padding:0px 0px 0px 29px;
				li{
					margin-bottom: 20px;
					&.active{
						i{
						    margin-left: -29px;
						    margin-right: 6px;
							display: inline-block;
						}
						label{
							color:$color-quindenary;
						}
					}
				}
			}
			a, button {
				background:$color-white;
				text-align: center;
				width: 100%;
				border: 1px solid $color-quindenary;
			    padding: 14px 109px;
			    border-radius: 9px;
			    margin-top: 27px;
			    display: inline-block;
			    flex: unset;
			    font-size: 1rem;
			    line-height: 1.8125rem;
			    color: #f77a3e;
			    font-weight: 600;
			    @include font-size(16);
				@include line-height(29);
				@include color($color-quindenary);
				@include font-family($font-secondary);
				@include font-weight(600);
				@include letter-spacing(___);
				@include text-transform(___);

				@media only screen and (max-width:1099px) {
					padding: 14px 0;
				}
				&:hover{
					background:$color-quindenary;
					color:$color-quinary;
				}
				&.add-to-cart-and-design-another-label-btn {
					border: 1px solid $color-tertiary;
					@include color($color-tertiary);
					padding: 15px 65px;
					text-align: center;
					&:hover{
						background:$color-tertiary;
						color:$color-quinary;
					}
				}
			}
			a.disabled, button.disabled {
				border: 1px solid $color-quaternary;
				@include color($color-quaternary);
				pointer-events: none;
				&:hover{
					background:$color-quaternary;
					color:$color-quinary;
				}
			}
		}
	}
	&__card{
	    background: white;
	    padding: 0px;
        border-radius: 9px;
	    overflow: hidden;
	}
	&__item{
		text-align: center;
		cursor: pointer;
		.is-popular {
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			padding:4px 0px 0px 0px;
			margin: 0px;
		    background: $color-quindenary;
		    width: 100%;
		    position: absolute;
		    top: -33px;
		    left:0px;
		    text-align: center;
		    @include font-size(16);
			@include line-height(29);
			@include color($color-quinary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(uppercase);
			i{
				margin-right: 9px;
			}
			@media only screen and (max-width:1099px) {
				font-size: 13px;
			}
		}
		[type='radio'] {
			display: none;
		}
		[type=radio]:checked ~ img {
			opacity: 0.5;
			@include transition(all 0.5s ease-in-out);
		}
		label {
			cursor: pointer;
		}
		h4{
			text-align: center;
			@include font-size(18);
			@include line-height(40.04);
			@include color($color-sedenary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
			margin-top: -7px;
		}
		.inline{
			display: inline;
			width: 100%;
		}
		.hovered{
			// display: none;
		}
		&.active,&:hover{
			i{
				-webkit-box-shadow: 0px 0px 53px -27px rgba(0,0,0,1);
				-moz-box-shadow: 0px 0px 53px -27px rgba(0,0,0,1);
				box-shadow: 0px 0px 53px -27px rgba(0,0,0,1);
			}
			.inline{
				// display: none;
			}
			.hovered{
				display: inline;
			}
		}
	}
	&__choose{
	    margin-top: 55px;
	    margin-bottom: 92px;
	    padding-right: 12px;
	    .row{
	    	justify-content:center;
	    }
	    .col-md-3 {
		    max-width: calc(22% - 27px);
		    margin-left: 1.5%;
		    margin-right: 1.5%;
			@media only screen and (max-width:767px) {
				max-width: calc(40% - 27px);
				margin: 0 auto;
			}
			@media only screen and (max-width:399px) {
				max-width: 100%;
				display: block;
    			padding: 40px 0 !important;
			}

		}
		img{
			//margin-left:-15px;
			@include transition(all 0.5s ease-in-out);
		}
	}
	&__cta{
	    padding-top: 65px;
		h3,p{
			@include font-size(18.04);
			@include line-height(30.05);
			@include color($color-quaternary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
		}
		p{
			font-weight: normal;
		    margin-bottom: 3px;
		}
		a{
			@include font-size(16);
			@include line-height(29);
			@include color($color-quinary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
		    background: $color-tertiary;
	        padding: 11px 16px 11px 16px;
		    border-radius: 9px;
		    border: 2px solid #bdd2f5;
		    display: inline-block;
		    margin-top: 33px;
		    &:hover{
		    	background:$color-tertiary-hover;
		    }
		    i{
	    	    position: relative;
			    top: 6px;
			    margin-right: 2px;
		    }
		}
	}
}