.left-image{
    margin-top: 91px;
    padding-bottom: 111px !important;
	&__wrapper{
		&--row{

		}
	}
	i{
		&.building-blue{
			@include sprite(building-blue);
		    margin-left: -31px;
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:991px) {
				margin-left: 0;
				left: 0;
			}
		}
		&.blue-line{
			display: block;
		    height: 1px;
		    background: $color-tertiary;
		    width: 60px;
		    margin: 38px 30px 42px -30px;
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:991px) {
				margin: 38px auto 42px;
			}
		}
	}
	h2{
		@include font-size(32);
		@include line-height(41);
		@include color($color-tertiary);
		@include font-family($font-primary);
		@include font-weight(500);
		@include letter-spacing(___);
		@include text-transform(___);
		max-width: 300px;
		/* MEDIA & RESPONSIVE CSS */
		@media only screen and (max-width:991px) {
			max-width: 100%;
		}
	}
	p{
		max-width: 651px;
		/* MEDIA & RESPONSIVE CSS */
		@media only screen and (max-width:991px) {
			max-width: 100%;
		}
	}
	&__left{

		/* MEDIA & RESPONSIVE CSS */
		@media only screen and (max-width:991px) {
			flex: 100%;
			width: 100%;
			max-width: 100%;
			text-align: center;
		}

		img{
			margin-top: -165px;
		    margin-left: 139px;
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:1499px) {
				margin-left: 120px;
			}
			@media only screen and (max-width:1399px) {
				max-width: 520px;
			}
			@media only screen and (max-width:1399px) {
				max-width: 480px;
			}
			@media only screen and (max-width:1199px) {
				max-width: 440px;
			}
			@media only screen and (max-width:1099px) {
				max-width: 400px;
			}
			@media only screen and (max-width:991px) {
				margin: 0;
			}


		}
	}
	&__right{
		padding-left:54px;

		@media only screen and (max-width:1499px) {
			padding-right:50px;
		}
		@media only screen and (max-width:1399px) {
			padding-left:60px;
		}
		@media only screen and (max-width:991px) {
			flex: 100%;
			width: 100%;
			max-width: 100%;
			text-align: center;
			padding: 0 50px;
		}

	}
}
