.product-details{
	background: $color-tridenary;
	padding-top:151px !important;
    padding-bottom: 70px !important;
	&__wrapper{
		&--row{

		}
	}
	&__zoom {
		img {
			height: 570px;
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:1299px) {
				height: 510px;
			}
			@media only screen and (max-width:1199px) {
				height: 470px;
			}
			@media only screen and (max-width:1099px) {
				height: 400px;
			}
			@media only screen and (max-width:991px) {
				height: 290px;
			}


		}
	}
	&__list{
		ul{
			list-style: none;
			padding:0px;
			li{
				float:left;
				padding:8px 17px 4px 0px;
				cursor: pointer;
				img {
					height: 130px;
					width: 100%;
					max-width: 150px;
				}
			}
		}
	}
	h2{
		@include font-size(18);
		@include line-height(15);
		//@include color($color-secondary);
		color: #B3B4B9;
		@include font-family($font-secondary);
		@include letter-spacing(___);
		@include text-transform(___);
	    margin-bottom: 10px;
	}
	h1{
		@include font-size(32);
		//@include line-height(28);
		line-height: normal;
		@include color($color-primary);
		@include font-family($font-secondary);
		@include font-weight(400);
		@include letter-spacing(1);
		margin-bottom: 20px;
		@include text-transform(___);
	}
	label{
		@include font-size(14);
		@include line-height(29);
		//@include color($color-primary);
		color: #3b3d43;
		@include font-family($font-secondary);
		@include font-weight(600);
		@include letter-spacing(___);
		@include text-transform(___);
		display: inline-block;

		.price-big{
			font-size: 23px;
			color: #6C257E;
		}

		strong{
			@include font-size(24);
			@include line-height(29);
			@include color($color-tertiary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
		}

		input{
			margin-right: 20px;
			background: #F4F4F6;
			border-radius: 10px;
			border: 2px solid #6C257E;
			padding: 13px;
			color: #6c257e;
			font-size: 15px;
			font-weight: 600;
			width: 150px;

			&:focus,
			&:active,
			&:hover{
				outline: 0 !important;
			}
		}

		.form-group{
			display: inline-block;

			button{
				&:hover{
					background: #622173;
				}
			}
		}
	}
	p,li,a{
		@include font-size(16.02);
		@include line-height(25.01);
		@include color($color-quaternary);
		@include font-family($font-secondary);
		@include letter-spacing(___);
		@include text-transform(___);
	}
	a{
		color:$color-tertiary;
		font-weight: 600;
		.magnify {
			background: #ffffff;
		}
		@media only screen and (max-width:991px) {
			text-align: center;
		}
	}
	&__buttons{
		margin-top: 41px;
		select{
			width: 100%;
		    padding: 12px 106px 12px 19px;
		    border-radius: 8px;
		    background:transparent;
		    @include font-size(16);
			@include line-height(29);
			@include color($color-tertiary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
		    border: 1px solid $color-tertiary;
		}
		button {
	    	border: 1px solid $color-tertiary;
		    padding: 13.3px 67px;
		    border-radius: 8px;
		    background: $color-tertiary;
		    color: #fff;
	        margin-left: 0;
			line-height: 1.8125rem;

			&:active{
				color: #fff !important;
				background-color: #481655 !important;
				border-color: #481655 !important;
			}

			&:focus{ box-shadow: none !important;}

			&:hover{border-color: #481655 !important;}
		}
	}
	
	strong{
		font-weight: 600;
	}
	i{
		&.line{
			height: 1px;
		    background: $color-quatuorvigenary;
		    width: 100%;
		    display: block;
		}
	}
	&__cta{
		margin-top: 60px;
		p{
			font-style:italic;
			margin-bottom: 22px;
			+ div{
				> div:last-child{
					font-style:italic;
				}
			}
			&:last-child{
				margin-top: 27px;
			}
		}
		&__buttons{
			> a{
				text-align: center;
			    border-radius: 8px;
			    background:transparent;
			    border: 1px solid $color-tertiary;
			    display: block;
			    padding: 18px 0px;
			    margin-bottom: 31px;
			}
		}
	}
	&__sku{
	    margin-top: 27px;
	    margin-bottom: 57px;
	}
	&__{
	    margin-top: 30px;
	    margin-bottom: 25px;
	}
}
.page-product-details {
	overflow: hidden;
}

button.confirm,
.sweet-alert .sa-icon.sa-success .sa-line{
	background-color: #6c257e !important;
}

.sweet-alert .sa-icon.sa-success .sa-placeholder{
	border: 4px solid #6c257e !important;
}