.products-gallery{
	margin-top: 67px;
	&__wrapper{
		&--row{

		}
	}
	&__gallery{
		> div{
	        margin-bottom: 28px;
		}
	}
	&__item{
	    border: 1px solid #bbb;
	    border-radius: 11px;
	    min-width: 450px;
        height:100%;
        background:#fff;
		@media only screen and (max-width:1499px){
			//width: 400px !important;
			min-width: 100%;
			max-width: 100%;
			margin: 0 auto;
		}

		@media only screen and (max-width:767px){
			text-align: center;
		}
	    img{
    	    border-radius: 14px;
	        display: block;
		    margin: auto; 
			max-width: 100%;
			max-height: 12em;
			@media only screen and (max-width:1199px){
				height:280px;
			}
			@media only screen and (max-width:991px){
				height:230px;
			}
			@media only screen and (max-width:767px){
				height: auto;
			}

	    }
		h3{			
			@include font-size(18);
			@include line-height(15);
			@include color($color-secondary);
			@include font-family($font-secondary);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
			padding:19px 17px 14px 27px;
		}
		h2{
			font-size: 22px;
			@include line-height(30);
			@include color($color-primary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include text-transform(___);
			padding:0px 82px 37px 27px;


			@media only screen and (max-width:1270px){
				font-size: 18px;
    			line-height: 24px;
			}

			@media only screen and (max-width:991px){
				font-size: 16px;
				line-height: 21px;
			}
		}
		&__line{
			height: 1px;
		    width: 100%;
		    background: #bbb;
		}
		label{
			@include font-size(14);
			@include line-height(29);
			@include color($color-primary);
			@include font-family($font-secondary);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
			padding:23px 27px 13px 27px;
		    margin: 0px;
			span{
				@include font-size(24);
				@include line-height(29);
				@include color($color-primary);
				@include font-family($font-secondary);
				@include font-weight(600);
				@include letter-spacing(1);
				@include text-transform(___);
			}
		}
	}
	ul{
		list-style: none;
	    display: flex;
	    margin-top: 31px;
	    justify-content: center;
	    margin-bottom: 24px;
	    padding-left: 0px;
		li{
			float: left;
		    border: 1px solid #bbb;
		    margin: 4px;
		    border-radius: 999px;
		    height: 48px;
		    width: 48px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    cursor:pointer;
		    background: #fff;
			a {
				border-radius: 20px;
				margin: 4px;
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
			}
			i{
				@include font-size(21);
				@include line-height(15);
				@include color($color-septenary);
				@include font-family(___);
				@include font-weight(600);
				@include letter-spacing(___);
				@include text-transform(___);
			    font-style: normal;
				&.mini-caret-left{
					@include sprite(mini-caret-left);
				}
				&.mini-caret-right{
					@include sprite(mini-caret-right);
				}
			}
			&.active{
				background:$color-tertiary;
				i{
					color:$color-quinary;
				}
			}
		}
	}
}
.page-products {
	.sub-banner__image {
		h1,h2 {
			@media only screen and (max-width:991px) {
				padding:103px 0 23px;
				font-size: 42px;
				line-height: 44px;
				width: 100%;
				text-align: center;
			}
		}
	}
	p {
		@media only screen and (max-width:991px) {
			padding:25px 60px 23px;
			width: 100%;
			text-align: center;
		}
	}
}
