.right-image{
	background:$color-nonary;
	padding-bottom: 270px !important;
    padding-top: 39px !important;
	&__wrapper{
		&--row{

		}
	}
	&__card{
	    background: #fff;
	    margin-top: 100px;
	    border-radius: 10px;
	    overflow: hidden;
	    margin-bottom: 112px;
	    &--left{
	    	padding:61px 28px 12px 62px;
		    i{
		    	&.building-skeleton{
		    		@include sprite(building-skeleton);
		    	}
		    }
		    p{
		    	@include font-size(24);
				@include line-height(39);
				@include color($color-denary);
				@include font-family($font-secondary);
				@include font-weight(600);
				@include letter-spacing(___);
				@include text-transform(___);
				margin-top: 21px;
		    }

			@media only screen and (max-width:991px) {
				flex: 100%;
				width: 100%;
				max-width: 100%;
				text-align: center;
				padding: 60px 30px;
			}

	    }
		&--right{

			@media only screen and (max-width:991px) {
				flex: 100%;
				width: 100%;
				max-width: 100%;
				text-align: center;
			}
		}
	}
	&__middle{
		p{
			@include font-size(24);
			@include line-height(39);
			@include color($color-denary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
		    margin-bottom: 112px;
			@media only screen and (max-width:991px) {
				text-align: center;
			}
		}
	}
	&__bottom{
		p{
			@include font-size(16);
			@include line-height(24.98);
			@include color($color-quaternary);
			@include font-family($font-secondary);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
			margin-bottom: 24px;
		    padding: 3px;
		}
		a{
		    background: $color-tertiary;
		    padding: 17px 17px 16px 17px ;
		    border-radius: 10px;
		    color:$color-quinary;
	        margin-top: 37px;
	        float:right;
	        &:hover{
	        	background: $color-tertiary-hover;
	        }
			@media only screen and (max-width:991px) {
				display: inline-block;
				float: none;
				margin: 0 auto;
			}
		}
		.col-md-6 {
			@media only screen and (max-width:991px) {
				flex: 100%;
				width: 100%;
				max-width: 100%;
				text-align: center;
			}
		}
	}
}