.size-quantity{
	background:$color-tridenary;
	padding-top:121px !important;
	padding-bottom: 212px !important;
	i{
		&.star{
			@include sprite(star);
		}
		&.check{
			@include sprite(check);
		}
		&.checklist{
			@include sprite(checklist);
		}
	}
	&__wrapper{
		&--row{

		}
	}
	&__navigation{
		background:$color-tertiary;
		float:left;
	    width: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 20px 0px;
		ol{
			background:$color-undenary;
			margin: 0;
			float:left;
		    counter-reset: item;
			list-style: none;
			padding: 9px 0px;
			border-radius: 99px;
			overflow: hidden;
			-webkit-box-shadow: inset 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: inset 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
			box-shadow: inset 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
			li{
		        padding-left: 31px !important;
				float:left;
			    display: flex;
			    align-items: center;
			    &.active{
			    	label{
			    		background: $color-quinary;
					    color: $color-tertiary;
					    height: 72%;
					    display: flex;
					    align-items: center;
					    position: absolute;
					    margin-left: 15px;
					    padding-left: 34px;
					    width: 100%;
					    z-index: 0;
			    	}
					&:before {
			    		background: $color-quinary;
					    color: $color-tertiary;
					    font-weight: 600;
						border:1px solid $color-tertiary;
					}
			    }
				label{
					color:$color-duodenary;
				    font-weight: 600;
				    @include font-size(16);
					@include line-height(39.98);
					margin:0px;
				}
				&:before {
					background:$color-tertiary;
					content: counter(item) " ";
				    counter-increment: item;
				    margin-right: 12px;
					border:1px solid $color-duodenary;
				    border-radius: 99px;
				    height: 37px;
				    width: 37px;
				    float: left;
				    text-align: center;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				    color:$color-duodenary;
				    font-weight: 600;
				    @include font-size(15);
					@include line-height(11.63);
					z-index: 1;
				}
			}
		}
	}
	&__view{
		float:left;
	    width: 100%;
		h5{
			@include font-size(31);
			@include line-height(40.04);
			@include color($color-quatourdenary);
			@include font-family($font-primary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
			text-align: center;
			padding: 50px 137px 3px 137px;
		}
		p{
			@include font-size(18.02);
			@include line-height(30.01);
			@include color($color-quaternary);
			@include font-family($font-secondary);
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
			text-align: center;
			padding: 0px 137px 16px 137px;
		}
		&--left{
		    border-right: 3px solid $color-septendenary;
		}
		&--right{
			padding:47px 33px 57px 32px;
			h2{
				@include font-size(31);
				@include line-height(40.04);
				@include color($color-decenoctonary);
				@include font-family($font-primary);
				@include font-weight(600);
				@include letter-spacing(___);
				@include text-transform(___);
			    margin-bottom: 52px;
			}
			label{
				@include font-size(23.99);
				@include line-height(40.02);
				@include color($color-decennonary);
				@include font-family($font-secondary);
				@include font-weight(600);
				@include letter-spacing(___);
				@include text-transform(___);
				margin-bottom: 0px;
			    margin-right: 12px;
			}
			span{
				@include font-size(15.99);
				@include line-height(27.98);
				@include color($color-decenoctonary);
				@include font-family($font-secondary);
				@include font-weight(600);
				@include letter-spacing(___);
				@include text-transform(___);
				&:last-child{
					display:block;
				}
			}
			ul{
				list-style: none;
				padding:0px 0px 0px 29px;
				li{
					margin-bottom: 20px;
					&.active{
						i{
						    margin-left: -29px;
						    margin-right: 6px;
						}
						label{
							color:$color-quindenary;
						}
					}
				}
			}
			a{
				border: 1px solid $color-quindenary;
			    padding: 14px 109px;
			    border-radius: 9px;
			    margin-top: 27px;
			    display: inline-block;
			    flex: unset;
			    width: unset;
			    font-size: 1rem;
			    line-height: 1.8125rem;
			    color: #f77a3e;
			    font-family: open sans;
			    font-weight: 600;
			    @include font-size(16);
				@include line-height(29);
				@include color($color-quindenary);
				@include font-family($font-secondary);
				@include font-weight(600);
				@include letter-spacing(___);
				@include text-transform(___);
				&:hover{
					background:$color-quindenary;
					color:$color-quinary;
				}
			}
		}
	}
	&__card{
	    background: white;
	    padding: 0px;
        border-radius: 9px;
	    overflow: hidden;
	}
	&__cta{
	    padding-top: 65px;
		h3,p{
			@include font-size(18.04);
			@include line-height(30.05);
			@include color($color-quaternary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
		}
		p{
			font-weight: normal;
		    margin-bottom: 3px;
		}
		a{
			@include font-size(16);
			@include line-height(29);
			@include color($color-quinary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
		    background: $color-tertiary;
	        padding: 11px 16px 11px 16px;
		    border-radius: 9px;
		    border: 2px solid #bdd2f5;
		    display: inline-block;
		    margin-top: 33px;
		    &:hover{
		    	background:$color-tertiary-hover;
		    }
		    i{
	    	    position: relative;
			    top: 6px;
			    margin-right: 2px;
		    }
		}
	}
	&__choose{
	    padding-left: 90px;
	    &--left{
		    padding-bottom: 67px !important;
		    i{
		    	&.right-border{
		    		min-height: 637px;
				    border-right: 1px solid $color-unvigenary;
				    position: absolute;
				    right: 19px;
				    top: 11px;
		    	}
		    }
	    }
	}
	&__item{
		h2{
			@include font-size(28);
			@include line-height(40.04);
			@include color($color-quatourdenary);
			@include font-family($font-primary);
			@include letter-spacing(___);
			@include text-transform(___);
		}
		p{
			@include font-size(18.02);
			@include line-height(30.01);
			@include color($color-quaternary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
			padding:0px;
			text-align: left;
		}
		span{
			@include font-size(17);
			line-height: normal;
			@include color($color-primary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
		    margin-bottom: 0;
		    display: inline-block;
			+ span{
				color:$color-trivigenary;
			    margin-left: 27px;
				&.small-label{
					@include font-size(18);
					@include line-height(28);
					@include color(#___);
					@include font-family(___);
					@include font-weight(___);
					@include letter-spacing(___);
					@include text-transform(___);
				    margin-left: 11px;
				}
			}
		}
		input{
			&:checked{
				+ i + span + span{
					color:$color-tertiary;
				}
			}
		}
		a{
			@include font-size(23);
			@include line-height(28);
			@include color($color-tertiary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
			margin-top:14px;
			display: block;
			i{
				&.caret-down{
					@include sprite(caret-down);
				    position: relative;
				    top: -3px;
				    left: 7px;
				}
			}
		}
		label {
			cursor: pointer;
		}
	}
	&__sample{
		background:$color-duovigenary;
	    width: 85%;
	    text-align: center;
	    padding-top: 34px;
	    padding-bottom: 34px;
        margin-top: 32px;
	    label{
	    	@include font-size(24);
			@include line-height(40.04);
			@include color($color-tertiary);
			@include font-family($font-secondary);
			@include font-weight(600);
			@include letter-spacing(___);
			@include text-transform(___);
			margin-bottom: 17px;
	    }
	}
}
//$color-duovigenary

.js-design-label-steps > div {
	display: none;
}
.js-design-label-steps > div:first-child{
	// display:inline;
}
.js-size-quantity input[type="radio"]{
	opacity:0;
	filter:alpha(opacity=0);
}
.js-size-quantity input[type="radio"]:checked + i{
	background: url('../images/icons/sprites.png') no-repeat -68px -220px;
}
.js-size-quantity-icon{
	background: url('../images/icons/sprites.png') no-repeat -112px -220px;
	width: 39px;
	height: 39px;
	display:inline-block;
	position: relative;
	top: 8px;
	left: -7px;
	margin-left: -9px;
	cursor:pointer;
	zoom: .8;
}

@media only screen and (max-width:800px){
	.design-choices__choose .col-md-3{max-width: calc(26% - 27px) !important;}
}

@media only screen and (max-width:631px){
	.design-choices__choose .col-md-3{max-width: calc(35% - 16px) !important;}
}

@media only screen and (max-width:470px){
	.design-choices__choose .col-md-3{max-width: 100% !important;}
}