.sub-banner{
	&__wrapper{
		&--row{
		}
	}
	&__image{
	    width: 100%;
	    background-size: cover;
	    h1,h2{
	    	@include font-size(58);
			@include line-height(74);
			// @include color($color-tertiary);
			// @include font-family($font-primary);
			@include font-weight(___);
			@include letter-spacing(___);
			// @include text-transform(___);
			color: #241f24 !important;
			font-family: $font-primary !important;
			font-weight: bold;
			text-transform: uppercase;
			padding:105px 152px 36px 124px;
			width: 60%;
			margin:0px;
			@media only screen and (max-width:767px){
				padding: 60px 0 36px;
				width: 100%;
				margin: 0;
				text-align: center;
			}
	    }
	    p{
	    	@include font-size(18);
			@include line-height(29.98);
			@include color($color-quaternary);
			// @include font-family($font-secondary);
			font-family: $font-primary !important;
			@include font-weight(___);
			@include letter-spacing(___);
			@include text-transform(___);
			padding:0px 176px 64px 127px;
			width: 60%;
			margin:0px;
			@media only screen and (max-width:767px){
				padding: 0px 0 64px;
				width: 80%;
				margin: 0 auto;
				text-align: center;
			}
			span{
				@include font-family($font-tertiary);
				@include font-weight(600);
				@include text-transform(uppercase);
			}
	    }
	}
}