.for-page-support {
    padding-top: 100px !important;
    background: white;

    input, textarea {
        padding: 18px 29px;
        width: 100%;
        border-radius: 10px;
        background: white;
        border: 1px solid #bbb;
        color: #777 !important;
        margin-top: 12px;

        &:focus{
            outline-color: #bbb !important;
        }
    }

    input:hover {
        color: #777 !important;
    }

    textarea:hover {
        color: #777 !important;
    }

    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #777 !important;
    }

    input::-moz-placeholder { /* Firefox 19+ */
        color: #777 !important;
    }

    input:-ms-input-placeholder { /* IE 10+ */
        color: #777 !important;
    }

    input:-moz-placeholder { /* Firefox 18- */
        color: #777 !important;
    }

    textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #777 !important;
    }

    textarea::-moz-placeholder { /* Firefox 19+ */
        color: #777 !important;
    }

    textarea:-ms-input-placeholder { /* IE 10+ */
        color: #777 !important;
    }

    textarea:-moz-placeholder { /* Firefox 18- */
        color: #777 !important;
    }

    textarea {
        min-height: 200px;
        height: 227px;
    }

    .submit {
        width: 200px;
        color: #fff !important;
        background: #6c257e;
        padding: 18px 29px;
        border-radius: 10px;
        border: 1px solid transparent;
    }

    @media only screen and (max-width:1499px) {
        iframe#gmap_canvas {
            width: 100% !important;
            max-width: 670px;
        }
    }
    @media only screen and (max-width:1399px) {
        iframe#gmap_canvas {
            width: 100% !important;
            max-width: 620px;
        }
    }
    @media only screen and (max-width:1299px) {
        iframe#gmap_canvas {
            width: 100% !important;
            max-width: 570px;
        }
    }
    @media only screen and (max-width:1199px) {
        iframe#gmap_canvas {
            width: 100% !important;
            max-width: 520px;
        }
    }
    @media only screen and (max-width:1099px) {
        iframe#gmap_canvas {
            width: 100% !important;
            max-width: 470px;
        }
    }
    @media only screen and (max-width:991px) {
        .col-md-6.aos-init.aos-animate {
            width: 100%;
            flex: 100%;
            max-width: 100%;
        }
        iframe#gmap_canvas {
            width: 100% !important;
            max-width: 100%;
        }
        .mapouter, .gmap_canvas {
            width: 100%;
        }
    }

}