$five-line-color:rgba(231, 231, 231,0.5);
.five-lines-background{
	@extend .container-lg;
	height: 100%;
    width: 7px;
    background: $five-line-color;
    position: fixed;
    z-index: 0;
    left: 0px;
    top: 0px;
    right: 0px;
    margin: auto;
    width: 1px;
    &:after{
	    content: "";
	    height: 100%;
	    width: 7px;
	    position: fixed;
	    z-index: 0;
	    left: 102px;
	    border-left: 1px solid $five-line-color;
	    width: 22%;
	    border-right: 1px solid $five-line-color;
    }
    &:before{
	    content: "";
	    height: 100%;
	    width: 7px;
	    position: fixed;
	    z-index: 0;
	    right: 100px;
	    border-left: 1px solid $five-line-color;
	    width: 22%;
	    border-right: 1px solid $five-line-color;
    }
}