
$sprite-property:url('../images/icons/sprites.png') no-repeat;
%background-properties{
	border:none !important;
    display: inline-block;
}
@mixin sprite($icon,$important:null){
	@if($icon=="round-plus"){
		@extend %background-properties;
		background: $sprite-property -4px -3px $important;
		width: 59px;
		height: 59px;
	}
	@if($icon=="building"){
		@extend %background-properties;
		background: $sprite-property -68px -3px $important;
		width: 80px;
		height: 80px;
	}
	@if($icon=="phone"){
		@extend %background-properties;
		background: $sprite-property -154px -3px $important;
		width: 81px;
		height: 80px;
	}
	@if($icon=="mail"){
		@extend %background-properties;
		background: $sprite-property -240px -3px $important;
		width: 81px;
		height: 80px;
	}
	@if($icon=="arrow-down"){
		@extend %background-properties;
		background: $sprite-property -4px -67px $important;
		width: 21px;
		height: 23px;
	}
	@if($icon=="arrow-up"){
		@extend %background-properties;
		background: $sprite-property -29px -68px $important;
		width: 21px;
		height: 23px;
	}
	@if($icon=="small-caret-right"){
		@extend %background-properties;
		background: $sprite-property -7px -99px $important;
		width: 5px;
		height: 8px;
	}
	@if($icon=="caret-right"){
		@extend %background-properties;
		background: $sprite-property -17px -99px $important;
		width: 8px;
		height: 10px;
	}
	@if($icon=="mini-caret-left"){
		@extend %background-properties;
		background: $sprite-property -6px -112px $important;
		width: 7px;
		height: 12px;
	}
	@if($icon=="mini-caret-right"){
		@extend %background-properties;
		background: $sprite-property -16px -112px $important;
		width: 7px;
		height: 12px;
	}
	@if($icon=="building-blue"){
		@extend %background-properties;
		background: $sprite-property -70px -99px $important;
		width: 116px;
		height: 116px;
		left: -21px;
	    position: relative;
	}
	@if($icon=="building-skeleton"){
		@extend %background-properties;
		background: $sprite-property -193px -120px $important;
		width: 60px;
		height: 60px;
	}
	@if($icon=="star"){
		@extend %background-properties;
		background: $sprite-property -30px -97px $important;
		width: 19px;
		height: 17px;
	}
	@if($icon=="check"){
		@extend %background-properties;
		background: $sprite-property -5px -126px $important;
		width: 18px;
		height: 18px;
	}
	@if($icon=="checklist"){
		@extend %background-properties;
		background: $sprite-property -30px -122px $important;
		width: 22px;
		height: 22px;
	}
	@if($icon=="radio-button"){
		@extend %background-properties;
		background: $sprite-property -112px -220px $important;
		width: 39px;
		height: 39px;
	}
	@if($icon=="radio-button-selected"){
		@extend %background-properties;
		background: $sprite-property -68px -220px $important;
		width: 39px;
		height: 39px;
	}
	@if($icon=="caret-down"){
		@extend %background-properties;
		background: $sprite-property -5px -150px $important;
		width: 15px;
		height: 9px;
	}
	@if($icon=="small-info-button"){
		@extend %background-properties;
		background: $sprite-property -24px -150px $important;
		width: 15px;
		height: 15px;
	}
	@if($icon=="big-white-caret-left"){
		@extend %background-properties;
		background: $sprite-property -195px -187px $important;
		width: 60px;
		height: 60px;
	}
	@if($icon=="big-white-caret-right"){
		@extend %background-properties;
		background: $sprite-property -264px -187px $important;
		width: 60px;
		height: 60px;
	}
	@if($icon=="blue-caret-down"){
		@extend %background-properties;
		background: $sprite-property -7px -172px $important;
		width: 12px;
		height: 7px;
	}
	@if($icon=="blue-caret-down"){
		@extend %background-properties;
		background: $sprite-property -7px -172px $important;
		width: 12px;
		height: 7px;
	}
	@if($icon=="checkbox-blank"){
		@extend %background-properties;
		background: $sprite-property -5px  -186px $important;
		width: 21px;
		height: 21px;
	}
	@if($icon=="checkbox-checked"){
		@extend %background-properties;
		background: $sprite-property -32px  -186px $important;
		width: 21px;
		height: 21px;
	}
	@if($icon=="refresh"){
		@extend %background-properties;
		background: $sprite-property -4px  -213px $important;
		width: 33px;
		height: 27px;
	}
	@if($icon=="white-caret-right"){
		@extend %background-properties;
		background: $sprite-property -17px   -99px $important;
		width: 8px;
		height: 10px;
	}
}