$color-primary:#fff;

$xs: 845;
$sm: 1000;
$md: 1440;
$lg: 1670;
$lg2: 1723;
$xl: 1920;

$navbar-padding-y: 2.24rem;
$navbar-padding-x: 1.5rem; 

@import "bootstrap-container";
@import "bootstrap-row";

$classname:"container";
$array: (
	("xs", $xs + px),
	("sm", $sm + px),
	("md", $md + px),
	("lg", $lg + px),
	("lg2", $lg2 + px),
	("xl", $xl + px)
);
@include bootstrap-container($classname,$array);


@mixin image-background(){
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center center;
}

@mixin opacity($value:50){
	opacity:$value;
	$alphavalue:$value*100;
	filter:alpha(opacity=$alphavalue);
}

@mixin transition($value: all 1s ease){
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
	transition: $value;
}

@mixin focus-color($color:$gold-primary,$important:null){
	&:focus {
	    outline: $color auto 5px $important;
	    outline-color: $color $important;
	    outline-style: auto $important;
	    outline-width: 5px $important;
	}
}


a,select,button,input{
	@include focus-color($color-primary,!important);
	&:hover{
		text-decoration: none !important;
		color:$color-primary;
	}
}
section{
	padding:0px !important;
	> .container{
		@extend .px-0;
		> .row{
			> div{
				@extend .px-0;
			}
		}
	}
}

@mixin soft(){
	transition: all 0.4s ease-in;
}
.soft{
	transition: all 0.4s ease-in;
}
.no-padding{
	padding:0px;
	&-important{
		padding:0px !important;
	}
}

@mixin text-shadow($color:rgba(0, 0, 0, 0.7)){
	text-shadow:0px 0px 5px $color;
}

@mixin box-shadows($color:rgba(0, 0, 0, 0.52)){
	-webkit-box-shadow: 0px 0px 28px 1px $color;
	-moz-box-shadow: 0px 0px 28px 1px $color;
	box-shadow: 0px 0px 28px 1px $color;
}

@function rem($fontSize) {
    @return ($fontSize / 16) + rem;
}

@mixin font-size($val) {
	@if $val != ___{
	    font-size:rem($val);
	}
}
@mixin line-height($val) {
	@if $val != ___{
		line-height: rem($val);
	}
}
@mixin font-family($val) {
	@if $val != ___{
		font-family:$val;
	}
}
@mixin color($val) {
	@if $val != #___{
		color:$val;
	}
}
@mixin font-weight($val) {
	@if $val != ___{
		font-weight: $val;
	}
}
@mixin letter-spacing($val) {
	@if $val != ___{
		letter-spacing: rem($val);
	}
}
@mixin text-transform($val) {
	@if $val != ___{
		text-transform: $val;
	}
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-primary;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-primary;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-primary
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-primary;
}
// fonts below

