/* Dashboard */

.dashboard {
  &__wrapper {
    position: relative;
    display: block;
    margin-top: 70px;
    .container {
      .row {
        .col-md-4, .col-md-8 {
          padding: 0 15px !important;
        }
      }
      .row > div {
        padding: 0 15px !important;

      }
    }
  }
  &__tab-menu {
    position: relative;
    display: block;
    ul {
      position: relative;
      width: 100%;
      & > li {
        display: block;
        width: 100%;
        &:last-child {
          a {border-bottom: none;}
        }
        & > a {
          color: #ffffff;
          background: #426db5;
          border-bottom: 1px solid #ffffff;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          &:hover {
            background: #12243e;
          }
          h3 {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            font-size: 21px;
          }
          &.nav-link.active {
            background-color: #12243e;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
          }
          i {
            top: -3px;
            font-size: 16px;
            font-style: normal;
            vertical-align: middle;
          }
        }
      }
    }
  }
  &__tab-content {
    position: relative;
    display: block;
    .tab-content {
      .tab-pane {
        position: relative;
        padding: 30px 20px;
        width: 100%;
        height: 100%;
        //min-height: 600px;
        border-top: 6px solid #426db5;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
        .customer-register {
          padding: 0 30px !important;
        }
        h2 {
          font-size: 1.5rem;
          line-height: 2.5625rem;
          color: #426db5;
          font-family: audiowide;
          font-weight: 500;
          max-width: 300px;
        }
        .desc-txt {
          padding-left: 30px;
          font-size: 14px;
        }
        .customer-register {
           h3 {
             font-size: 1.3rem;
             color: #000;
           }
          .form-group {
            label {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}