.page-about-us{
	.sub-banner{
		&__image{
		    min-height: 476px;
			background-position: right;
			h1,h2 {
				font-family: $font-primary;
				@media only screen and (max-width:991px) {
					padding:103px 0 23px;
					font-size: 42px;
					line-height: 44px;
					width: 100%;
					text-align: center;
				}
			}
		    p{
		    	font-size: 16px;
			    max-width: 927px;
				text-shadow: 1px 1px 1px #ffffff;
				font-family: $font-primary;
				@media only screen and (max-width:991px) {
					padding:25px 60px 23px;
					width: 100%;
					text-align: center;
					color: #fff;
					text-shadow: 1px 2px 2px #000;
				}
		    }
		}
	}
	+ .footer{
		margin-top:0px;
	}
}