.page-faq{
	.sub-banner{
		h1,h2{
			padding:103px 152px 23px 112px;
			font-family: $font-primary;
			@media only screen and (max-width:991px) {
				padding:103px 0 23px;
				font-size: 42px;
				line-height: 44px;
				width: 100%;
				text-align: center;
			}
		}
		p{
			padding:12px 152px 122px 114px;
			font-family: $font-primary;
			@media only screen and (max-width:991px) {
				padding:25px 0 23px;
				width: 100%;
				text-align: center;
			}
		}
	}
}