.page-gallery{
	.sub-banner{
		h1,h2{
			padding:103px 152px 23px 112px;
			font-family: $font-primary;
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:767px) {
				//padding:60px 30px 30px;
			}
		}
		p{
			padding:12px 152px 179px 114px;
			font-family: $font-primary;
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:767px) {
				padding: 0 30px 15px;
			}
		}
	}
}

.page-gallery{
	.sub-banner{
		h1,h2{
			padding:103px 152px 23px 112px;
			font-family: $font-primary;
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:767px) {
				padding:60px 30px 30px;
			}
		}
		p{
			font-family: $font-primary;
			padding:12px 152px 179px 114px;
			/* MEDIA & RESPONSIVE CSS */
			@media only screen and (max-width:767px) {
				padding: 0 30px 30px;
			}
		}
	}
}



		.big-photo{
			height: 100%;
			min-height:750px;
			width: 100%;
			max-width: 1150px;
			margin:0px auto;
		}

		.js-modal-slider-photos{
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat
		}
		.js-modal-slider-photos > *{
			display: none;;
		}
		.js-modal-slider-prev{
		    position: absolute;
		    left: 0;
		    right: 1150px;
		    top: 339px;
		    cursor:pointer;
		}
		.js-modal-slider-next{
		    position: absolute;
		    left: 1150px;
		    right: 0;
		    top: 339px;
		    cursor:pointer;
		}
		.js-modal-slider-navigation{
		    position:absolute;
		}
		.js-modal-slider-navigation > div{
			float:left;
			width: 150px;
		    height:150px;
		    margin-left: 2px;
		    margin-right: 14px;
	        background-size: cover;
		    background-repeat: no-repeat;
		    background-position: center;
		}
		.js-modal-slider-navigation > div > img{
			/*width: 100%;*/
			display:none;
		}
		.js-modal-slider-navigation-holder{
			width: 1150px;
		    height: 163px;
		    margin: 0px auto;
		    position: relative;
		    overflow: hidden;
		}
		.js-modal-slider-navigation{
			cursor:pointer;
		}
		.js-modal-close{
		    height: 100%;
		    width: 100%;
		    position: absolute;
		}
.js-modal-close-btn, .js-modal-close-btn:hover{
	color: #fff;
	text-decoration: none;
	font-size: 30px;
}
