.banner {
    // height: 100vh !important;
    height: 760px !important;
    overflow: hidden;

    @media only screen and (max-width:$tablet) {
        height: 100vh !important;
    }

    @media only screen and (max-height:$mobile) {
        height: 300px !important;
    }

    &__slick {
        display: block;
        height: 100%;

        div {
            width: 100%;
            height: 100%;
        }
    }


    .slick-dots {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 0;

        li {
            display: inline-block;
            button {
                width: 20px;
                height: 20px;
                @include border-radius(100%);
                border: 0;
                overflow: hidden;
                text-indent: -999px;
                margin: 0 3px;
                background: transparent;
                border: 3px solid $color-white;
                box-sizing: border-box;
                padding: 0 !important;
            }
            &.slick-active {
                button {
                    background: $color-white;
                }
            }
        }
    }

    &__item {
        height: 100%;
        background-size: cover !important;
        background-position: center top !important;
        position: relative;
    }

    &__content {


    }
}



.subpage-banner {
    // height: 538px;
    height: 358px;
    background-size:cover !important;
    background-position: center !important;

    @media only screen and (max-width:$mobile) {
        height: 150px;
    }

    &__wrapper {
        position: relative;
        height: 100%;
        max-width: 1400px;
    }

    &__item {
        position: absolute;
        bottom: 0;

        width: 100%;
        left: 0;
    }
    &__content {
        width: 100%;
        max-width: 100%;

        h1 {

            border-top: 5px solid $color-secondary;
            display: inline-block;
            background: $color-white;
            margin-bottom: 0;
            padding: 14px 25px;
            font-size: 2em;
            font-weight: $weight-extrabold;

            @media only screen and (max-width:$tablet) {
                font-size: 1.5em;
            }

            @media only screen and (max-width:$mobile) {
                font-size: 1em;
            }

        }
    }
}