.footer-main {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            a {
                color:$color-white;
                text-decoration: none;
            }
        }
    }

    &__wrapper {
        max-width: 1400px;
    }

    &__item {
        @media only screen and (max-width:$tablet) {

            article {
                padding: 20px 0;
            }

        }
    }


    &__middle-menu {
        padding: 50px 0;
    }


    &__middle {


        h4 {
            color: $color-secondary;
            font-weight: $weight-extrabold;
            margin-bottom: 25px;
        }

        li {
            margin-bottom: 10px;
            a {
                font-weight: $weight-bold;
                @include transition(.3s);

                &:hover {
                    color: $color-secondary;
                }
            }
        }

        i {
            color: $color-secondary;
            width: 15px;
        }
    }

    &__right {

        h4 {
            color: $color-secondary;
            font-weight: $weight-extrabold;
            margin-bottom: 25px;
        }

        li {
            margin-bottom: 15px;
            color: $color-lightgray;

            &:first-child {
                a {
                    pointer-events: none;
                }
            }
            a {
                font-weight: $weight-normal;
                font-size: .9em;
                @include transition(.3s);
                color: $color-lightgray !important;
                text-transform: uppercase;

                &:hover {
                    color: $color-secondary;
                }
            }
        }

        i {
            color: $color-secondary;
            width: 25px;
        }
    }

    .footer-details {
        &__logo {
            width: 119px;
            height: 91px;
            background:url('../images/sprite-all.png');
            background-position: -191px -357px;
            margin-bottom: 10px;
            overflow: hidden;
            text-indent: -999px;
        }
        p {
            color: $color-lightgray;
            font-size: .9em;
        }
    }

    &__copyright {
        padding: 5px 0;

        div {
            color: $color-lightgray;
            font-size: .9em;

            a {
                color: $color-lightgray;
                    &:hover {
                        color: $color-secondary;
                    }
            }
        }

        &--text {
            padding: 20px 0;
        }
    }

}
body .footer .c72 {
    background: url(../img/transbg3new.jpg) no-repeat !important;
}