header {
    // position: absolute;
    width: 100%;
    z-index: 9;
    padding: 0;
    background: $color-third;
    // overflow: hidden;


    &.scrolling {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        -webkit-box-shadow: 1px 0 5px 1px rgba(0,0,0,.6);
        box-shadow: 1px 0 5px 1px rgba(0,0,0,.6);
    }

    .main-nagivation-mobile {
        display: none;

    }

    .main-nagivation {


        .reset {
            width: 100%;
            padding: 0 !important;
            margin: 0;
        }

        > div {
            @extend .reset;
            > div {
                @extend .reset;
                > div {
                    @extend .reset;
                }
            }
        }


        &__top {
            background: $color-white;
            .row {
                max-width: 1500px;
                margin: auto;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            &--details {
                text-align: left;
                a {
                    font-size: 1.7em;
                    padding: 8px 30px;
                    color: $color-gray2;
                    font-weight: $weight-semibold;

                    &:hover {
                        opacity: .8;
                    }

                    @media only screen and (max-width:$desktop-large) {
                        font-size: 1.2em;

                        &:before {
                            display: none;
                        }
                    }

                }
                i {
                    margin-right: 10px;
                }
            }

            &--tel {
                text-align: right;
                a {
                    font-size: 1.6em;
                    font-weight: bold;
                    padding: 13px 40px;
                    color: $color-red;
                    @include transition(.3s);


                    @media only screen and (max-width:$desktop-large) {
                        font-size: 1.2em;

                        &:before {
                            display: none;
                        }
                    }



                    &:hover {
                        opacity: .8;
                    }
                }
                i {
                    margin-left: 10px;
                }
            }

            i {
                display: inline-block;
                background: $color-third;
                padding: 5px;
                width: 35px;
                height: 35px;
                @include border-radius(100%);
                color: $color-white;
                position: relative;
                top: 7px;

                &:before {
                    font-size: .7em;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    left: 0;
                    right: 0;
                }
            }
        }

        &__bottom {
            background: $color-third;
        }

        &__menu {
            padding: 2px 0px;
            max-width: 1400px;
            margin: auto;
        }

        &__wrapper {
            max-width: 100%;
            padding: 0;
        }

        &__dropdown {
            max-width: 100%;
            padding: 0;

            .row {
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }

        &__item {

            &--logo {
                text-indent: -999px;
                overflow: hidden;
                width: 178px;
                height: 165px;
                display: block;
                background:url('../images/sprite-all.png');
                background-position: -24px 1px;
                margin: auto;
                margin-top: -70px;



            }

            .dropdown-menu {
                background: #cb0000;
                border-radius: 0;
                border-bottom:2px solid #fff;
                top: 90px;

                ul {
                    padding: 0;
                    list-style-type: none;
                    display: block;
                    li {
                        a {
                            padding: 8px 15px;
                            font-weight: $weight-bold;
                            color: $color-white;
                            font-size: .9em;
                            display: block;
                            @include transition(.3s);

                            &:hover {
                                background: $color-darkred;
                            }
                        }
                    }
                }
            }

            .navbar-nav {
                display: block;
                > li {
                    display: inline-block;
                    position: relative;

                    &.active {
                        background: $color-navydark;
                        a {
                            color: $color-secondary;
                        }
                    }

                    > a {
                        color: #fff;
                        font-weight:$weight-semibold;
                        padding:37px 25px;
                        display: block;
                        text-transform: uppercase;
                        @include transition(.3s);
                        text-decoration: none;
                        font-size: .9em;

                        @media only screen and (max-width:$desktop-large) {
                            padding: 37px 12px;
                            font-size: .8em;
                        }

                        @media only screen and (max-width:$desktop) {
                            padding: 37px 10px;
                        }

                        &:hover {
                            color: $color-secondary;
                            background: $color-navydark;
                        }
                    }
                }
            }

            .dropdown-menu {
                ul {
                    li {
                        a {
                            &.dropdown-item {
                                color: $color-white;
                                &.active {
                                    background: $color-darkred;
                                    color: $color-white;
                                }
                            }
                        }
                    }
                }
            }

            .dropdown-item {
                &.active {
                    background: $color-darkred;
                    color: $color-white;
                }
            }

            &--middle {
                padding: 0;
            }

            &--left {
                padding: 0;
                .navbar-nav {
                    text-align: right
                }
            }

            &--right {
                padding: 0;
            }


        }


    }


    .main-nagivation-mobile {
        &__wrapper {
            padding: 0;
            .col-md-12 {
                padding: 0;
            }

            .mobile-logo {
                height: 15px;
            }
        }

        .tel--mobile {
            a {
                color: $color-white;
                &:hover {
                    color: $color-secondary;
                }
            }
        }

    }
}




.homepage-main {
    header {
        position: absolute;
    }
}

@media only screen and (max-width:1760px){
    .header__login-dropdown{
        height: 54px;
        bottom: -55px;
        right: 50px;
        font-size: 15px;
    }
}