/* MOBILE HEADER */
.mobile-header {
    &__wrapper {
    //   position: fixed;
      display: none;
    //   left: 0;
      width: 100%;
      padding: 6px 10px;
      z-index: 99;
      background: $color-third;
      font-size: 0;
      /* MEDIA & RESPONSIVE CSS */
        @media only screen and (max-width: $tablet) {
          display: block;

          &--item {
            position: relative;
            width: 33%;
            & .mob-burger-menu {
              position: relative;
              cursor: pointer;
              & div {
                width: 32px;
                height: 5px;
                background-color: $color-white;
                margin: 6px 0;
                transition: 0.4s;
              }
            }
            & .mob-nav-menu {
              position: fixed;
              top: 0;
              left: -300px;
              display: block;
              background: $color-darknavy;
              z-index: 9;
              width: 260px;
              height: 100%;
              padding: 10px 15px;
              @include transition(.5s);

              & ul {
                position: relative;
                width: 100%;
                margin: 0;
                padding: 0;
                list-style-type: none;
                text-align: left;
                & > li {
                  display: block;
                  margin: 10px 0;

                  h6 {
                      color: $color-white;
                      font-weight: $weight-semibold;
                      border-bottom: 1px solid $color-white;
                     padding-bottom: 10px;
                  }


                  &.nav-item {
                    position: relative;

                    .drop-menu-elem {
                      background: $color-darknavy;
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 6px;
                    }

                  }


                  & > a {
                    color: $color-white;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: normal;
                    font-family: $font-primary;
                    padding: 5px 0;
                    @include transition(.5s);
                    &:hover {
                      color: $color-primary;
                    }
                  }

                  &.active {
                    > a {
                      color: $color-secondary;
                    }
                  }

                  & i {
                    color: $color-white;
                    font-size: 18px;
                    float: right;
                    padding: 0 10px;
                    font-weight: bold;
                  }
                }
              }
            }
            & .mob-nav-menu.open-menu {
              left: 0;
            }
            & .mob-sub-menu {
              position: fixed;
              top: 51px;
              left: -300px;
              display: block;
              background: $color-third;
              z-index: 9;
              width: 260px;
              height: 100%;
              padding: 10px 15px;
              @include transition(.5s);



              & .sub-menu {
                // padding-left: 10px !important;
                padding: 0;
                & > li {
                  display: block;
                  margin: 10px 0;
                  & > a {
                    color: $color-white;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: normal;
                    font-family: $font-primary;
                    padding: 5px 0;
                    @include transition(.5s);

                    &.active {
                        background: $color-secondary;
                        padding: 10px;
                    }

                    &:hover {
                      color: $color-primary;
                    }
                  }
                }
              }
              & a.back-btn {
                color: $color-white;
                font-size: 14px;
                text-transform: uppercase;
                & i {
                  margin-left: 6px;
                }
              }
            }
            & .mob-sub-menu.sub-elem.show-sub {
              left: 0;
            }
            & .mob-email {
              position: relative;
              display: block;
              text-align: center;
              & a {
                color: $color-white;
                font-size: 25px;
              }
            }
            & .mob-phone {
              position: relative;
              display: block;
              text-align: right;
              margin-left: 30px;
              & a {
                color: $color-white;
                font-size: 25px;
                margin-left: 10px;
              }
            }
          }
        }
      /* END */
    }
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }