.johnCena, .template {
  display: none !important;
}

.widget-advanced-alt .widget-header {
  height: auto;
  min-height: 100px;
}

.has-error .form-control:read-only {
  background-color: #eee;
}

.preloader .inner {
  top: 35%;
}

.bg-transparent {
  background: transparent;
}

.ag_spacer{
  width: 100%;
  height: 81px;
}

section {
  overflow: hidden;
}

$color-red:#f00;
$color-gray:#f4f4f7;
$color-border:#eee;
$color-blue:#6c257e;
$border-radius:10px;
$lg-width:88.1%;
$lg-width:90.83%;
$og-width:calc(90.83% - 27px);
$og-left:101px;
$f13:0.8125rem;//13px
$f21:1.3125rem;//21px
$f24:1.519375rem;//24.31px
/* np no padding */

.np{
  padding:0 !important;
  margin:0 !important;
}

/* start at */
@mixin a1($a,$b,$c){
  -webkit-transition:$a $b $c;
  -moz-transition:$a $b $c;
  -o-transition:$a $b $c;
  transition:$a $b $c; 
}
/* end at */

/* st soft transition -- 
WARNING INVARIABLE */
.st1{
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition:all 1s ease;
}

.f-aw{
  font-family: 'Roboto', sans-serif;
}

.owl-carousel .item{
  // background:red;
}
.owl-carousel .owl-item {
  @media only screen and (max-width:1199px){
    width: 328px !important;
  }
  @media only screen and (max-width:991px){
    width: 390px !important;
  }
  @media only screen and (max-width:850px){
    width: 320px !important;
  }

}
.owl-feat{
  width:900px;
}
.owl-next-item{
  width:400px;
  @media only screen and (max-width:1199px){
    width: 100%;
  }
}
.owl-next{
  float:right;
  // margin-right:-32px !important;
}
.owl-next:focus,.owl-prev:focus{ outline: none; }
.owl-prev.disabled{
  display:none !important;
}
.owl-carousel2{
  .owl-prev{
    display:inline !important;
    float:left;
  }
  .owl-stage{
    padding-top:95px;
  }
  .owl-theme .owl-nav{
    margin-top:-9px;
  }
  .owl-stage{
    padding-left:0px;
    padding-right:0px;
  }
}

.owl-theme .owl-nav [class*=owl-]:hover{
  background:unset;
}
.owl-stage{
  padding-left:107px;
  padding-right:107px;
}
.owl-stage-outer{
  height:490px;
}
.js-owl-carousel-2{
  .owl-prev{
    float:left;
    &:focus{
      outline: transparent auto 5px !important;
      outline-color: transparent !important;
      outline-style: auto !important;
      outline-width: 5px !important;
    }
    .c33{
      margin-left:108px;
    }
  } 
  .owl-next{
    &:focus{
      outline: transparent auto 5px !important;
      outline-color: transparent !important;
      outline-style: auto !important;
      outline-width: 5px !important;
    }
  }
}

.header{
  &__login-dropdown{
    display:none;
    height: 82px;
    background: #fff;
    position: absolute;
    bottom: -82px;
    width: 200px;
    right: 100px;
    border: 1px solid #eee;
    text-transform: uppercase;
    border-top: 0px solid transparent;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
    color: #646b71;
    &.active-show{
      display:block;
    }
    &:hover{
      background:#f9f9f9;
      color:#555;
    }
  }
}
/* mixes on footer */
@media (min-width: 768px){
  .c88{
    .scol{
      max-width:100%;
    }
    .c83{
      flex:0 0 20%;
    }
    .c84{
      flex:0 0 17%;
    }
    .c85{
      flex:0 0 27%;
    }
    .c86{
      flex:0 0 18%;
    }
    .c87{
      flex:0 0 16%;
    }
  } 
}
.scol{
  position:relative;
  width:100%;
  padding-left:15px;
  padding-right:15px;
  &:first-child{
    padding-left:0px;
  }
}


*{
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}

/* start stencil */ 
.s1{
  color:#241f24;
  font-size:$f21;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom:23px;
  font-family: 'Roboto', sans-serif;
}
.s2{
  margin-top:.5rem;
  margin-bottom:.5rem;
  a{
    color:#838698;
    font-size:0.8125rem;
    //line-height:1.7rem;
    font-family: 'Roboto', sans-serif;
    &:hover{
      text-decoration:none;
      color:#6c257e;
    }
  }
}
.s3{
  & .item *{
    cursor:grab;
  }
  .c30{
    // display:none;
    opacity:0;
    filter:alpha(opacity=0);

  }
}
.s4{
  & .item *{
    cursor:grab;
  }
  &-1{
    background:#f4f4f6;
    padding-bottom: 214px !important;
  }
}
.s5 *{
  @include a1(all,1s,ease);
}
/* end stencil */


/* start group */
.g1{
  float:right;
  > div{
    padding:0px 30px;
    float:left;
    line-height:81px;
    vertical-align: middle;
    font-size:16px;
    color:#646b71;
  }
  /*&:hover {
    background: $color-red;
  }*/
}

.g2{
  border-left:1px solid $color-border;
  height:82px;
}
.g3{
  margin-top:0px;
}
.notification-container {
  position: relative
}
.notification-container.empty::after {
  display: none;
}
.notification-container::after {
  content: attr(data-count);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  color: #fff;
  top: 20px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: #426db5;
  border-radius: 15px;
}
.g4{
  margin-top:12px;
  margin-left:7px;
  float:left;
  margin-right:8px;
}
.g5{
  float:left;
  color:#fff;
  > div:first-child{
    font-size:16px;
    margin-top:20px;
    font-weight:bold;
    color:#bfc5c9;
  }
  > div:last-child{
    font-size:20px;
    margin-top:-5px;
    color:#fff;
  }
}

$g6-1:1px solid #ddd;
.g6{
  border-left:$g6-1;
  height:100vw;
  margin-top:-30px;
  &:last-child{
    border-right:$g6-1;
  }
}
.g7{
  z-index:20;
  position:relative;
}
.g8{
  z-index:20;
  color:#333;
  font-size:28px;
  font-weight: bold;
  text-transform: uppercase;
  position:relative;
  font-family: 'Roboto', sans-serif;
}
.g9{
  z-index:20;
  font-size:14px;
  // margin-left:24px;
  width:325px;
  margin-top:15px;
  color:#777;
  position:relative;
  font-family: 'Roboto', sans-serif;
  /* MEDIA & RESPONSIVE CSS */
  @media only screen and (max-width:1299px) {
    width:220px;
  }
}
.g10{
  height:100%;
  width:25%;
  float:left;
  padding:10px;
}
.g11{
  border-radius:12px;
  background:white;
  height:100%;
  width:100%;
  padding-left:17px;
  padding-top:11px;
}
.g12{
  //margin-top:20px;
  height: 100%;
  min-height:425px;
  //margin-bottom:32px;
}
.g13{
  display:block;
  padding:0px 30px;
  float:left;
  line-height:81px;
  vertical-align: middle;
  font-size:16px;
  cursor:pointer;
  color:#646b71;
  font-weight:600;
  &:hover{
    color:$color-blue;
    text-decoration:none;
  }
}
.g14{
  position:relative;
  width:100%;
  padding-right:15px;
  padding-left:15px;
}
.g15{
  float:left;
  margin-right:18px;
  cursor:pointer;
  position:relative;
  z-index:5;
  img {
    width: 100%;
    max-width: 48px;
  }
  @media only screen and (max-width:1499px){
    margin-right:6px;
  }
  @media only screen and (max-width:1299px){
    margin-right:0;
    width: 40px;
  }
  @media only screen and (max-width:1099px){
    margin-right:0;
    width: 35px;
  }
  @media only screen and (max-width:999px){
    margin-right:0;
    width: 25px;
  }
  @media only screen and (max-width:767px){
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 48px;
  }



}
.g16{
  width:100%;
  line-height:20px;
  padding:0px 14px;
  margin-bottom:12px;
  font-size:14px;
}
.g17{
  @include a1(all,1.7s,ease);
  img{
    z-index:11;
    position:absolute;
    width:auto !important;
  }
  &-1{
    opacity:1;
    filter:alpha(opacity=100);
  }
  &-2{
    opacity:0;
    filter:alpha(opacity=0);
  }
}
.featured-slider-large {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  /* MEDIA & RESPONSIVE CSS */
  @media only screen and (max-width:1699px) {
    //width: 58%;
    .owl-feat {
      width: 100%;
    }

    .pl-5 {
      padding-left: 2rem !important;
    }
    .pr-5 {
      padding-right: 1rem !important;
    }
  }
  @media only screen and (max-width:991px) {
    width: 100%;
    .pl-5 {
      padding-left: 1.5rem !important;
    }
    .pr-5 {
      padding-right: 1.5rem !important;
    }
  }
}
.featured-slider-small {
  width: 48%;
  display: inline-block;
  margin-left: 30px;

  /* MEDIA & RESPONSIVE CSS */
  @media only screen and (max-width:1699px) {
    //width: 42%;
    .owl-next-item {
      //width: 100%;
    }

    .pl-5 {
      //padding-left: 1rem !important;
    }
    .pr-5 {
      //padding-right: 2rem !important;
    }
  }
  @media only screen and (max-width:991px) {
    display: none;
  }

}
/* end group */



.c1{
  background-color: #fff !important;
  border-bottom: 1px solid #eee;
  position: fixed !important;
  z-index: 60;
}
.c2{
  padding-top:0px;
  padding-bottom:0px;
}
.c3{
  float:left;
  margin-left:16px;
}
.c4{
  border-radius:$border-radius;
  height:50px;
  margin-top:16px;
  background:$color-blue;
  width:283px;
}
.c5{
  padding:0px 34px 0px 37px !important;
}
.c6{
  display:none;
}
.c7{
  background:$color-gray;
  color:#333;
  font-weight:bold;
}
.c8{
  background-image:url(../img/banner2.jpg);
  background-size:cover;
  background-position:center center;
  height:672px;
  width:$lg-width;
  margin:0px auto;
  padding-left:30px;
}
.c9{
  font-family:Audiowide;
  font-size:72px;
  color:#0b213a;
  width:615px;
  line-height:87px;
}
.c10{
  float:left;
  margin-top:112px;
  font-size:16px;
  margin-bottom:19px;
}
.c11{
  width:30px;
}
.c12,.c13{
  float:left;
}
.c12{
  margin-left:75px;
  margin-top:8px;
  img{
    width:47px;
  }
  &-1{
    display:none;
    img{
      width:30px;
    }
  }
}
.c13{
  line-height:30px;
  color:#8b8ea0;
  width:371px;
  font-size:21px;
  &-1{
    display:none;
    text-align:center;
    width:90%;
    padding:10px 30px;
  }
}
.c14{
  //float:left;
  // margin-left:32px;
  margin-top:40px;
}
.c15,.c16{
  border-radius:$border-radius;
  text-align:center;
  display: inline-block;
  vertical-align: text-top;
  max-width: 250px;
  cursor:pointer;
}
.c15{
  color:$color-blue;
  border:1px solid $color-blue;
  background:#ffffff;
  padding:14px 16px;
}
.c15-1{
  display:none;
  width:70%;
  margin-left:15%;
}
.c16{
  padding:15px 27px;
  // margin-left:20px;
  color:#fff;
  background:$color-blue;
  span{
    font-size:12px;
  }
  &-1{
    display:none;
    width:70%;
    margin-left:15% !important;
    margin-top:14px !important;
    margin-bottom:23px !important;
  }
}
.c17{
  //position: relative;
  font-size: 20px;
  color: #54585c;
  text-align: center;
  //margin-top: 190px;
  /* position: absolute; */
  //margin-top: -30px;
  /* width: calc(90.83% - 30px); */
  /* margin-left: -30px; */
  font-family: audiowide;
}
.c18{
  margin-left:16px;
  margin-top:-15px;
  margin-right:10px;
  float:left;
  height:65px;
}
.c19{
  color:#fff;
  line-height:50px;
  float:left;
  font-size:16px;
}
.c20,.c21,.c22{
  float:left;
}
.c20{
  margin-right:12px;
}
.c21{
  margin-top:3px;
  margin-right:9px;
  a{
    color:#646b71;
  }
}
.c22{
  margin-top:3px;
  a{
    color: #646b71;
  }
}
.c23{
  background: url(../img/banner-bottom-bg.jpg) no-repeat;
  background-position: center;
  background-size:cover;
  margin:0px auto;
  z-index:20;
  position:relative;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  width: 93.75% !important;
  /* MEDIA & RESPONSIVE CSS */
  @media only screen and (max-width:1499px) {
    width: 93% !important;
  }
  @media only screen and (max-width:1399px) {
    width: 92.7% !important;
  }
  @media only screen and (max-width:1299px) {
    width: 92.3% !important;
  }
  @media only screen and (max-width:1260px) {
    width: 92% !important;
  }
}
.c24{
  margin-right:21px;
  margin-top:31px;
  color:#f17537;
  //float:right;
  font-weight:bold;
  font-size:18px;
}
.c25{
  color:#f17537;
  float:left;
}
.c26{
  // left:$og-left;
  left:0px;
  position:fixed;
  // temp
  // width:$og-width;
  width:100%;
  margin:0px auto;
  margin-top:-70px;
}
.c27{
  background:#fff;
  z-index:70;
}
.c28{
  margin-top:90px;
  margin-bottom:47px;
  line-height:70px;
  font-size:42px;
  color: #241f24;
  text-transform: uppercase;
  font-weight: bold;
}
.c29{
  position:relative;
  left:30px;
  width:$og-width;
}
.c30{
  @include a1(all,1.5s,ease);
  top:-150px;
  z-index:10;
  position:absolute;
  @media only screen and (max-width:991px){
    top: -96px;
  }
}
.c33{
  float:left;
  margin-left:-10px;
  > div{
    font-size:21px;
    color:#656b6f;
    float:left;
    font-weight:500;
  }
  > div:last-child{
    margin-top:2px;
  }
  &-1{
    margin-left:-4px;
  }
}
.c34{
  float:right;
  margin-right:108px;
  > div{
    font-weight:500;
    color:#656b6f;
    font-size:21px;
    float:right;
  }
  > div:last-child{
    margin-top:2px;
  }
  &-1{
    margin-right:-5px;
  }
}
.c35{
  margin-left:-30px;
  margin-top:157px;
}
.c36{
  font-weight:500;
  font-size:16px;
  color:#676767;
  font-style:italic;
  width:100%;
  max-width:545px;
  margin:0px auto;
  font-family: 'Roboto', sans-serif;
  margin-top: 24px;
  span{
    font-style:normal;
    color:#f77a3e;
    font-size:18px;
    cursor:pointer;
    font-family: 'Roboto', sans-serif;
  }
}
.c37{
  margin-left:-30px;
  margin-top:35px;
}
.c38{
  z-index:-1;
  height:1541px !important;
  background:#f4f4f6;
  margin-top:-105px !important;
  &i1{
    margin-top:-1117px !important;
  }
}
.c39{
  margin-top:11% !important;
  position:relative;
  left:30px;
  width:$og-width;
}
.c40{
  //height:50px;
  margin-left:-30px;
  //margin-top:92px;
  padding-left:0px;
  padding-right:0px;
}
.c41{
  width:82%;
}
.c42{
  margin-left:-44px;
  margin-top:-120px;
}
.c43{
  font-size:23.98px;
  color:#848798;
  font-weight:600;
  margin-top:89px;
  margin-left:4px;
}
.c44{
  color:#241f24;
  font-size:42px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top:3px;
  width:337px;
  line-height:48px;
  margin-left:5px;

}
.c45{
  height:1px;
  width:67px;
  background:$color-blue;
  margin-top:40px;
  margin-left:-29px;
}
.c46{
  margin-top:48px;
  margin-left:5px;
  font-size:23.98px;
  font-weight:600;
  width:319px;
  color:#4a4f53;
  line-height:43px;
}
.c47{
  margin-top:333px;
  margin-left:5px;
  line-height:29px;
  letter-spacing:1px;
  color:#3b3d43;
}
.c48{
  height:50px;
  margin-left:-30px;
  margin-top:92px;
  padding-left:0px;
  padding-right:0px;
}
.c49{
  width:300%;
  height:434px;
  margin-top:114px !important;
}
.c49v2{
  // width:300%;
  // height:434px;
  margin-top:114px !important;
}
.c50{
  width:50%;
}
.c51{
  width:148%;
  margin-left:-32%;
  margin-top:-20%;
}
//.c51v2{
//  width:143%;
//  margin-left:-30%;
//  margin-top:-21%;
//}
.c51v3{
  width:85%;
  margin-left:15%;
  margin-top:0%;
}
.c52{
  margin-top:20px;
  font-size:1.1rem;
  color:#777;
  font-weight:400;
  margin-bottom:5px;
}
.c53{
  color:$color-blue;
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
}
.c53v2{
  color:#12243e;
  font-size: 25px;
  font-weight:600;
  line-height: normal;
}
.c54{
    height:1px;
    background:#777;
    width:43px;
    margin-top:26px;
    margin-left:12px;
    margin-bottom:15px;
}
.c55{
  font-size:0.9375rem;
  margin-left:3px;
  font-weight:600;
  margin-bottom:34px;
  span{
    font-size:1.6875rem;
  }
  /* MEDIA & RESPONSIVE CSS */
  @media only screen and (max-width:1399px) {
    margin-bottom:15px;
  }
}
.c56{
  color:#777;
  font-size:1rem;
  margin-left:4px;
}
.c57{
  font-size:0.95rem;
  color:$color-blue;
  border:1px solid $color-blue;
  float:left;
  padding:15px 36px;
  border-radius:10px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor:pointer;
  /* MEDIA & RESPONSIVE CSS */
  @media only screen and (max-width:1399px) {
    margin-top:20px;
  }
}
.c58{
  width:300px;
}
.c59{
  &:hover{
    text-decoration:none;
    span{
      color:#d85e24;
    }
  }
}
section#categorySlider {
  padding-top: 90px !important;
}
.c60{
  //margin-top:549px;
  margin-top:94px;
  position:absolute;
}

.c61{
  background:unset;
}
.c62{
  width:140px;
}
.c63{
  margin-right:140px;
}
.c64{
  //margin-top:558px;
  position: relative;
  margin-top: 16px;
  padding-bottom: 50px;
  z-index: 1;
}
.c65{
  margin-right:30px;
}
.c66{
  font-size:0.95rem;
  color:$color-blue;
  border:1px solid $color-blue;
  background-color: #ffffff;
  float:left;
  padding:15px 36px;
  border-radius:10px;
  cursor:pointer;
}
.c67{
  font-size:0.95rem;
  color:#fff;
  border:1px solid $color-blue;
  float:left;
  padding:15px 36px;
  border-radius:10px;
  cursor:pointer;
  background:$color-blue;
}
.c68{
  margin-top:200px;
  margin-bottom:100px;
  &i1{
    margin-bottom: 80px;
    max-width: 1705px;
  }
  &i2{
    margin-top: -140px;
  }
}
.c69{
  border-radius:27px;
  overflow:hidden;
  background:#426db5;
  box-shadow:0 0.1rem 2rem rgba(50, 50, 50, 0.45) !important;
}
.c70{
  margin-top:292px !important;
}
.c71{
  min-height:270px; 
  height:auto;
  background-position:center center !important;
  background-size:cover !important;
  background-repeat:no-repeat !important;
}
.c72{
  background-color: #426db5 !important;
  box-shadow: 0 0.1rem 2rem rgba(50, 50, 50, 0.45) !important;
  background-position:center center !important;
  background-size:cover !important;
  background-repeat:no-repeat !important;
}
.c74{
  width:387px;
  font-size:1rem;
  color:#fff;
  margin-top:35px;
  line-height:2rem;
  margin-top:26px;
}
.c75{
  margin-top:93px;
  margin-bottom:91px;
}
.c76{
  margin-top:67px;
  a,a:hover{
    text-decoration:none;
  }
}
.c77{
  color:#fff;
  font-size:2.625rem;
  width:288px;
}
.c78{
  background:#fff;
  border-radius:99px;
  height:50px;
  width:50px;
  flex:unset;
}
.c79{
  margin-left:-4px;
  margin-top:12px;
}
.c80{
  color:#fff;
  font-size:1.375rem;
  margin-top:9px;
  width:241px;
  flex:unset;
  max-width:unset;
}
.c81{
  color: $color-blue;
  background:#fff;
  width:245px;
  flex:unset;
  padding:13px 0px;
  text-align:center;
  border-radius:10px;
  font-size:1rem;
  margin-top:24px;
  border:2px solid #fff;
}
.c82{
  color:#fff;
  width:245px;
  flex:unset;
  padding:13px 0px;
  text-align:center;
  border-radius:10px;
  font-size:1rem;
  margin-top:18px;
  border:2px solid #fff;
}

.c83{
  // background:#464565;
}
.c84{
  // background:#786545;
}
.c85{
  // background:#247868;
}
.c86{
  // background:#787565;
  padding-top:52px;
}
.c87{
  // background:#789743;
}
.c88{
  width:$og-width;
  margin:0px auto;
  margin-top:0;
  //margin-bottom:50px;
  padding:25px;
  @media only screen and (max-width:767px){
    text-align: center;
    .smi {
      text-align: center;
    }
  }
}
.c89{
  margin-left:-18px;
  img {
    width: 100%;
    max-width: 311px;
  }
}
.c90{
  font-size:$f13;
  color:#bbbec2;
  margin-top:37px;
  width:90%;
  line-height:$f24;
  font-family: 'Roboto', sans-serif;
  margin-left:-9px;
  margin-bottom:60px;
  @media only screen and (max-width:767px){
    width: 100%;
    margin-left: 0;
  }
  a {
    color: #6c257e;
  }
}
.c91{
  font-family: 'Roboto', sans-serif;
  color:#838698;
}
.c91:hover{
  color:#64687f;
  text-decoration:none;
}
.c92{
  float:right;
  margin-right:-11px;
  & > div{
    font-weight:500;
    color:#656b6f;
    font-size:21px;
    float:right;
  }
}
.c93{
  height: 390px;
  position: absolute;
  width: 400px;
  background-size: cover;
  background-position: top center;
  left: -119px;
  margin-top: -97px;
  z-index: 3;
}
.c94{
  position:fixed;
  right:21px;
  top:55%;
  z-index:10;
  div{
    margin-bottom:12px;
  }
}
.c95{
  cursor:pointer;
}
.c96{
  display:none;
  padding-top:12px;
  padding-bottom:3px;
  position:absolute;
  background:#fff;
  min-width:99px;
  box-shadow:0 0.1rem 2rem rgba(100, 100, 100, 0.25) !important;
}
.c97{
  border-radius:$border-radius;
  height:38px;
  background:$color-blue;
  width:227px;
  font-weight:normal;
  padding:6px;
  margin-left:10px;
  margin-right:10px;
}
.c98{
  line-height:10px !important;
  color:#fff !important;
  padding:0px !important;
  float:left !important;
  margin-top:8px !important;
  font-size:14px !important;
  margin-left:6px !important;
}
.c99{
  line-height:10px !important;
  color:#fff !important;
  padding:0px !important;
  float:left !important;
}
.c100{
  margin-top:5px;
  margin-left:10px;
  margin-right:10px;
  float:left;
  line-height:33px;
}
.c101{
  color:#999;
  font-weight:500;
  float:left;
  margin-right:15px;
  line-height:33px;
  margin-top:7px;
}
.c102{
  &:hover{
    text-decoration:none;
  }
}
.c103{
  margin-top:5px;
}
.c104{
  background:#f4f4f7;
  float:left;
  width:100%;
  line-height:36px;
  margin-top:7px;
}
.c105{
  margin-left:10px;
  float:left;
}
.c106{
  float:left;
  margin-top:10px;
}
.c107{
  margin-bottom:5px;
  padding:0px 7px 0px 3px;
}
.c108{
  margin-bottom:5px;
  padding:0px 7px 0px 3px;
  margin-left:7px;
  float:left;
  line-height:35px;
}
.c109{
  width:100%;
  float:left;
}
.c110{
  float:left;
  padding:0px 3px;
  font-size:14px;
  line-height:37px;
  margin-right:16px;
}
.c111{
  padding-bottom:10px !important;
}
.c112{
  margin-top:21px !important;
  font-size:14px !important;
  color:#f17537 !important;
}
.c113{
  /*min-height: 543px;
  height:543px;*/
  display:block;
}
.c114{
    font-size: 2.625rem;
    width: 100px;
    line-height: 3rem;
    color: #426db5;
    font-family: audiowide;
    background: transparent;
    padding-left: 14%;
}
.c115{
  width: 59px;
  height: 1px;
  background: #426db5;
  margin-left: -25px;
  margin-top: 121px;
  margin-bottom: 54px;
}
/* end cascades */
// @media (min-width: 992px) {
  // .col-md-2{
  // }
//}

.hidden {
  display: none !important;
}
.bg-lt-gray {
  background: #f4f4f6;
}


.home-slider {
  position: relative;
  display: block;
  width: 93.75%;
  height: 672px;
  //margin: 0 auto !important;
  margin: 83px auto 0 auto !important;
  
    /* MEDIA & RESPONSIVE CSS */
    @media only screen and (max-width:1760px){
      margin: 53px auto 0 auto !important;
    }
    @media only screen and (max-width:1499px) {
      width: 93%;
    }
    @media only screen and (max-width:1400px){
      height: 600px;
    }
    @media only screen and (max-width:1399px) {
      width: 92.7%;
    }
    @media only screen and (max-width:1299px) {
      width: 92.3%;
    }
    @media only screen and (max-width:1260px) {
      width: 92%;
    }
    @media only screen and (max-width:1199px){
      height: 500px;
    }
    @media only screen and (max-width:850px) {
      width: 100%;
      height: 400px;
    }

  .c8 {
    width: 100% !important;
    background-size: cover !important;
    background-position: center center !important;

    @media only screen and (max-width:1199px){
      height: 500px !important;
    }

    @media only screen and (max-width: 850px){
      height: 400px !important;
    }
  }
  .slick-list.draggable {
    height: 100% !important;
  }
  .banner-holder {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    .left-banner,
    .right-banner {
      position: relative;
      display: block !important;
      vertical-align: top;
      padding: 130px 30px 0;
      width: 100% !important;
      height: 687px !important;
      background-size: cover !important;
      background-repeat: no-repeat !important; 
      background-position: center !important;
    }
    .left-banner {
      text-align: left;
      a {
        margin-right: 15px;
      }
    }
    .right-banner {
      text-align: right;
    }
    h1 {
      color: #241f24;
      font-size: 21px;
      font-weight: normal;
    }
    h2 {
      color: #241f24;
      font-size: 58px;
      font-weight: 600;
      text-transform: uppercase;
    }
    a {
      font-size: 16px;
    }
  }
}

.mg63 {
  color: #656b6f;
}

body .footer .c72 {
  background: url(../img/transbg3new.png) no-repeat !important;
  background-size: cover !important;
}

.tagline-center {
  position: absolute;
  width: 100%;
  max-width: 459px;
  margin: 0 auto;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9;
  background: #ffffff;
  border-radius: 5px;
  color: #54585c;
  font-size: 24px;
  font-weight: bold;
}

.banner-smi-wrap {
  position: absolute;
  bottom: 170px;
  right: 7px;
  a {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    border: 1px solid #bcbec7;
    border-radius: 100%;
    color: #bcbec7;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
    margin-bottom: 15px;
    i {

    }
  }
}

section#ftHolorgraphLabel {
  overflow: visible;
}

.g17.e6-5-2{
  margin-top: -35px;
}

.label-shape__item [type=radio]:checked ~ h4:after,
.design-choices__designs__item [type=radio]:checked ~ label:after{
  content: "\f00c";
  display: inline-block;
  color: #F78149;
  margin-left: 10px;
  font-family: "Font Awesome 5 Free";
}
.custom-text{
  margin-top:30px;

  h3{
    text-align: left;
    margin-top: 30px;
    color: #f77a3e;
    margin-bottom: 20px;
    font-size: 22px
  }

  a{
    padding: 14px !important;
    margin-top: 10px !important;
  }

  p{
    padding: 0 !important;
    text-align: left !important;
    line-height: 1.5em !important;
    font-size: 16px !important;
  }
}

.contact-details{margin-top:115px;}
.js-modal-slider-photos{background-size: contain !important;}
.big-photo{ min-height: 600px !important;}
.gallery-items__modal p{text-align: center !important;}

.featured-slider-small .c53v2 a{
  color: #12243e;
}

.featured-slider-large .c53 a{
  color: #6c257e;
}

.featured-slider-large .c53{
  font-size: 25px;
  height: 117px;
}

.featured-slider-large .c51v2 img{
  max-width: 100%;
  height: auto;
  line-height: normal;
  max-height: 25em;
  font-size: initial;
  margin: 0 auto;
}

//.featured-slider-small .owl-next-item{width: 360px;}
.featured-slider-small .pl-5{padding-left:0 !important;}
.featured-slider-small .pr-5{padding-right: 0 !important;}
.featured-slider-small .c53v2{font-size:21px; height: 90px;}
.featured-slider-small .c51v3,
.featured-slider-large .c51v2{
  width: 100%;
  margin-left: 0;
}
.featured-slider-small .c51v3 img{
  max-width: 100%;
  height: auto;
  line-height: normal;
  max-height: 16.5em;
  font-size: initial;
  margin: 0 auto;
}

.price-discount-section{margin-bottom:20px;}
.price-discount-section p{margin-bottom:0;}
.price-discount-section span{
  color: #787a7e !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  font-style: italic;
  font-weight: 400 !important;
  font-size: 16px !important;
  display: block !important;
}

.size-quantity__choose--left .size-option{
  display: block;
  width: 100%;
  flex: 100%;
  max-width: 100%;
}

.size-quantity__choose--right{
  label,
  #price_label{
    color: #6C257E;
    font-size: 23px;
    font-weight: 700;

    input{
      padding: 10px;
      border-radius: 5px;
      width: 120px;
      border: 1px solid #d3d3d3;
      font-size: 18px;

      &:hover,
      &:active{
        border: 1px solid #d3d3d3;
        color: #787a7e;
      }

      &:focus{
        outline: #d3d3d3 auto 5px !important;
        outline-color: #d3d3d3 !important;
      }
    }
  }
}

#whychooseus-new{
  padding:70px 0 !important;
}

#whychooseus-new h2{
  //margin-bottom: 50px;
  line-height: 70px;
  font-size: 42px;
  color: #241f24;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.whychooseus-slick .whychooseus-item{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: inline-block;
  height: 450px;
  padding: 50px;
}

.whychooseus-slick .whychooseus-item .hover-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

.whychooseus-slick .whychooseus-item:hover .hover-bg{display: block;}
.whychooseus-slick .whychooseus-item:hover .icon .g17-1{display: none;}
.whychooseus-slick .whychooseus-item .icon .g17-2{display: none}
.whychooseus-slick .whychooseus-item:hover .g8{color: #fff;}
.whychooseus-slick .whychooseus-item:hover .icon .g17-2{opacity:1; display: block;}

.whychooseus-slick .whychooseus-item .icon{
  margin-top: 110px;
  margin-bottom:10px;
  display: grid;
}

@media only screen and (max-width:1670px){
  .owl-next-item {
    width: 370px;
  }
}

@media only screen and (max-width:1600px){
  .whychooseus-slick .whychooseus-item .icon{margin-top: 80px;}
  .whychooseus-slick .whychooseus-item{height: 380px;}
}

@media only screen and (max-width:1590px){
  .owl-carousel2 .owl-stage{
    padding-top: 200px !important;
  }

  .owl-next-item {
    width: 340px;
  }
}

@media only screen and (max-width:1498px){
  .featured-slider-large{
    width: 49%;
  }

  .featured-slider-small .c51v3 img{
    max-height: 16.3em;
  }
}

@media only screen and (max-width:1488px){
  .whychooseus-slick .whychooseus-item .icon{margin-top: 50px;}
}

@media only screen and (max-width:1450px){
  .gallery-items .col-md-3{
    width: 100%;
  }

  .gallery-items__gallery > div a{
    background-size: contain !important;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }

  .gallery-items__gallery > div img{
    width: 100% !important;
    opacity: 1 !important;
  }
}

@media only screen and (max-width:1440px){
  .featured-slider-small,
  .featured-slider-large{width: 48%;}

  .featured-slider-small .owl-next-item {
    width: 320px;
  }

  .featured-slider-large .c53{
    font-size: 22px;
  }

  .featured-slider-small .c53v2{
    font-size: 18px;
  }
}

@media only screen and (max-width:1425px){
  .holographic-labels ul{
    column-count:1 !important;
  }

  .s1{font-size: 19px;}
}

@media only screen and (max-width:1490px){
  .whychooseus-slick .whychooseus-item .icon{margin-top: 60px;}
  .g8{font-size: 24px;}
  .whychooseus-slick .whychooseus-item{height: 350px;}
}

@media only screen and (max-width:1399px){
  .featured-slider-small .c51v3 img{max-height: 15.2em;}
  .featured-slider-large .c51v2 img{min-height: 18em; max-height: inherit;}
}

@media only screen and (max-width:1355px){
  .featured-slider-small .owl-next-item{width: 300px;}
  .featured-slider-small .c53v2{font-size: 16px;}
}

@media only screen and (max-width:1340px){
  .whychooseus-slick .whychooseus-item .icon{margin-top: 45px;}
  .g8{font-size: 21px;}
  .whychooseus-slick .whychooseus-item{height: 320px;}
}

@media only screen and (max-width:1332px){
  .whychooseus-slick .whychooseus-item .g8{font-size:21px;}
}


@media only screen and (max-width:1300px){
  .label-shape__view--right label{font-size: 20px;}
}

@media only screen and (max-width:1285px){
  .featured-slider-large{width: 45%;}
  .featured-slider-small{width: 50%;}
  .featured-slider-small .owl-next-item{width: 310px;}
  .featured-slider-large .c53{font-size: 20px;}
  .featured-slider-small .c53v2{font-size: 17px;}
}

@media only screen and (max-width:1250px){
  .featured-slider-small .owl-next-item {width: 283px;}

  .page-products .sub-banner__image h1, .page-products .sub-banner__image h2,
  .sub-banner__image p{color: #fff !important; text-shadow: 0 0 4px#6c257e;}
}

@media only screen and (max-width:1216px){
  .whychooseus-slick .whychooseus-item .icon{margin-top: 30px;}
  .whychooseus-slick .whychooseus-item .g8{font-size: 19px;}
  .whychooseus-slick .whychooseus-item{height: 280px;}
}

@media only screen and (max-width:1185px){
  .featured-slider-large{width: 100%;}
  .featured-slider-small{width: 100%; margin-top: 10px;}
  .featured-slider-small .owl-next-item{width: 92%;}
  .featured-slider-large .c53{font-size: 25px;}
  .featured-slider-small .c53v2{font-size: 20px;}
}

@media only screen and (max-width:1136px){
  .whychooseus-slick .whychooseus-item{padding: 75px 50px; height: 100% !important;}
  .whychooseus-slick .whychooseus-item .icon{margin-top: 50px;}
  .whychooseus-slick .whychooseus-item .g8{font-size: 24px;}
}

@media only screen and (max-width:1024px){
  .c90{width: 100%;}
  .g15{
    width: 35px;
    float: none;
    display: inline-block;
    margin: 0 5px;
  }

  .whychooseus-slick .whychooseus-item .icon{margin-top: 20px;}
  .banner-smi-wrap{display: none;}
}

@media only screen and (max-width:999px){
  .whychooseus-slick .whychooseus-item .g8{font-size: 20px;}
}

@media only screen and (max-width:991px){
  .for-page-support .col-md-5,
  .for-page-support .col-md-3,
  .for-page-support .col-md-4{
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .for-page-support .col-md-3{margin-bottom: 50px;}
  .for-page-support .col-md-3 .contact-details{margin-top: 80px;}

  .product-details h1{font-size: 28px !important;}

  .featured-slider-large .c51v2 img{min-height: auto;}
}

@media only screen and (max-width:971px){
  .product-details__buttons button{padding: 13.3px 40px !important;}
}

// @media only screen and (max-width:883px){
//   .whychooseus-slick .whychooseus-item .g8{font-size: 28px;}
// }

@media only screen and (max-width:882px){
  .whychooseus-slick .whychooseus-item{height: 100% !important; padding: 150px 0;}
  .whychooseus-slick .whychooseus-item .hover-bg{width: 100%;}
}

@media only screen and (max-width:863px){
  .product-details label input{width: 100px;}
  .product-details__buttons button{margin-top: 20px;}
}

@media only screen and (max-width:820px){
  .whychooseus-slick .whychooseus-item{padding: 115px 50px;}
}

@media only screen and (max-width:767px){
  .featured-slider-large .col-6.np{margin: 0 auto !important;}
  .featured-slider-large .c53{height: auto;}
  .product-details label .form-group{display: block !important;}
  .m59{height: auto !important;}
}

@media only screen and (max-width:700px){
  .whychooseus-slick .whychooseus-item{padding: 85px 50px;}
}

@media only screen and (max-width:646px){
  .whychooseus-slick .whychooseus-item .icon{margin-top: 40px;}
  .whychooseus-slick .whychooseus-item .g8{font-size: 20px;}
  .whychooseus-slick .whychooseus-item .hover-bg{width: 100%;}
  .whychooseus-slick .whychooseus-item{padding: 55px 50px;}
}

@media only screen and (max-width:569px){
  .whychooseus-slick .whychooseus-item .hover-bg{margin: 0 auto; right: 0;}
  .whychooseus-slick .whychooseus-item .icon{margin-top: 50px;}
  .whychooseus-slick .whychooseus-item .g8{font-size:  30px;}
}

@media only screen and (max-width:590px){
  .whychooseus-slick .whychooseus-item .icon{margin-top: 25px;}
  .whychooseus-slick .whychooseus-item{height: 320px;}
}

@media only screen and (max-width:588px){
  .whychooseus-slick .whychooseus-item .g8{font-size: 18px;}
}

@media only screen and (max-width:576px){
  .m40 .col-lg-3{margin-bottom: 10px !important;}
  .m40 > div:first-child{margin-top: 0 !important;}
}

@media only screen and (max-width:530px){
  #hpBanner .home-slider .c8{background-position: 80% 100% !important;}
  .featured-slider-large .c53{font-size: 22px;}
}

@media only screen and (max-width:575px){
  .customer-login .container,
  .customer-register .container{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .customer-login .container .justify-content-center,
  .customer-register .container .justify-content-center{
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width:569px){
  .whychooseus-slick .whychooseus-item{padding: 100px 50px;}
  .whychooseus-slick .whychooseus-item .hover-bg{width: 70%;}
  .whychooseus-slick .whychooseus-item .icon{margin-top: 55px;}
  .whychooseus-slick .whychooseus-item .g8{font-size: 17px;}
}

@media only screen and (max-width:530px){
  .whychooseus-slick .whychooseus-item{height: 100% !important; padding: 80px 135px;}
  .whychooseus-slick .whychooseus-item .icon{margin-top: 44px;}
}

@media only screen and (max-width:500px){
  .whychooseus-slick .whychooseus-item{height: 100% !important; padding: 110px 100px;}
  .whychooseus-slick .whychooseus-item .hover-bg{width: 90%;}
  .whychooseus-slick .whychooseus-item .g8{font-size: 24px;}
}

@media only screen and (max-width:450px){
  .whychooseus-slick .whychooseus-item{padding: 86px 80px;}
  #whychooseus-new h2{padding: 0 20px;}
}

@media only screen and (max-width:420px){
  .whychooseus-slick .whychooseus-item .g8{font-size: 24px;}
  .featured-slider-large .c53{font-size: 20px;}
}

@media only screen and (max-width:400px){
  .whychooseus-slick .whychooseus-item .g8{font-size: 20px;}
  .whychooseus-slick .whychooseus-item .icon{margin-top: 28px;}
}

@media only screen and (max-width:370px){
  .whychooseus-slick .whychooseus-item{padding: 70px 80px;}
}

@media only screen and (max-width:354px){
  .whychooseus-slick .whychooseus-item .g8{font-size: 18px;}
}

@media only screen and (max-width:340px){
  .whychooseus-slick .whychooseus-item{padding: 50px;}
  .whychooseus-slick .whychooseus-item .icon{margin-top: 48px;}
}

.holographic-labels ul{
  column-count: 2;
  list-style: none;
  padding-left: 0;
}

.holographic-labels ul li{
  color: #838698;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.25rem;
}

.page-gallery .sub-banner__image,
.page-products .sub-banner__image{
  background-position: center right !important;
}

.forgot-pw [type=submit]{margin-top:0 !important;}

.notification-container::after{background: #6c257e;}

.cart-details__coupon a, .cart-details__coupon button{
  color: #6c257e !important;
  border: 1px solid #6c257e !important;
}

.billing-payment h3{color: #6c257e !important;}

// Dashboard
.dashboard__wrapper{overflow: unset;}
.dashboard__tab-content .tab-content .tab-pane{
  border-top:6px solid #6c257e !important;
}

.dashboard__tab-content .tab-content .tab-pane h2{
  font-family: "Roboto", sans-serif !important;
  color: #6c257e !important;
}

.dashboard__tab-menu ul > li > a{
  background:#914ba2 !important;
}

.dashboard__tab-menu ul > li > a.nav-link.active{
  background-color: #6c257e !important;
}

.dashboard__tab-content .tab-content .tab-pane .desc-txt a{color: #6c257e !important;}
table .view-details a.btn-link{
  padding: 0 !important;
  color: #6c257e !important;
}

.c90.v2{
  margin-left: 0;
}


// EMAIL ORDER
.email-order-content{
  .information{
    margin: 0 auto;
    width: 600px;
    background: #ffffff;
    padding: 50px 20px;
    border: 2px dashed #8a558d;
  
    h3.thank-you{
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      color: #6d6d6d;
    }
  
    img{
      text-align: center;
      margin: 0 auto;
      display: block;
      //filter: brightness(0) invert(1);
    }
  
    .introduction{
      margin-top: 30px;
      color: #8a558d;
    }
  
    &__order-details,
    &__product-information,
    &__billing-details,
    &__shipping-details{
      padding: 20px 0;
      border-top: 1px solid #905e93;
      color: #8a558d;
  
      h3{
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        color: #6d6d6d;
        text-transform: uppercase;
        margin-bottom: 18px;
      }
  
      &--order-number,
      &--order-date,
      &--subtotal,
      &--tax,
      &--shipping,
      &--total,
      &--payment-method,
      &--shipping-method,
      &--notes{
        display: inline-block;
        width: 48%;
        vertical-align: top;
        margin-bottom:15px;
  
        h4{
          font-size: 16px;
  
          span{
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
  
      &--name,
      &--shape,
      &--size,
      &--material,
      &--quantity,
      &--price,
      &--comments,
      &--tamper{
        margin-bottom:15px;
  
        h4{
          font-size: 16px;
  
          span{
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
  
      &--to,
      &--company,
      &--address,
      &--email,
      &--phone{
        margin-bottom:15px;
  
        h4{
          font-size: 16px;
  
          span{
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  footer{
    padding: 20px;
    margin: 0 auto;
    width: 600px;
    background: #8a558d;

    p{
      text-align: center;
      color: #fff;
      font-size: 15px;
      margin-bottom: 0;
    }
  }
}

.page-shopping-cart .cart-quantity-section .form-group input:hover{
  color: #495057;
}

.c1{z-index: 99999;}