.m16,.m17,.m18,.m28,.m27,.m29,.m30,.m33,.m36,.m54{
  display:none;
}

// start floating / fix bar
@media only screen and (max-width:1760px){
  .m58{

  }
  .m51{
    right:0px;
    top:23%;
    img{
      width:80%;
      margin:0px auto;
      display:block;
    }
    > div{
      margin-bottom:7px;
    }
  }
}
// end floating / fix bar

// start navbar 1 version 2
@media only screen and (max-width:1210px){
  .m1{
    display:none;
  }
  .m16{
    display:inline;
  }
}
@media only screen and (max-width:1196px){
  // .m2,
  // .m5{
  //   display:none;
  // }
  .m17{
    display:inline;
  }
}
@media only screen and (max-width:1122px){
  .m3{
    display:none;
  }
  .m18{
    display:inline;
  }
}

@media only screen and (max-width:1100px){
  .m20 {
    font-size: 12px !important;
    line-height: 37px;
  }

  .m22{
    width: 195px !important;
    height: 35px !important;
    margin-top: 9px !important;
  }
}


@media only screen and (max-width:1062px){
  .m4{
    display:none;
  }
  .m28{
    display:inline;
  }

  .mg1{
    padding: 0 8px !important;
  }

  .m22{
    width: 190px !important;
  }
}

@media only screen and (max-width:1036px){
  .m16, .m17, .m18, .m28, .m27, .m29, .m30, .m54{
    display: inline-block;
  }

  .m29,
  .mg1{display: none;}


  .m6{display: inline;}
  .m7{display: none;}
  .c97{margin-bottom: 10px;}

  .m29{
    width: 100%;
    color: #fff;
    padding: 5px 0;
    border-top: 1px solid #6c257e;
    border-bottom: 1px solid #6c257e;
  }

  .c100{margin-top: 0;}
  .c101{margin-top: 4px; color: #6c257e;}
}

@media only screen and (max-width:977px){
  .m5{
    display:none;
  }
  .m27{
    display:inline;
  }
}
@media only screen and (max-width:892px){
  .m7{
    display:none;
  }
  .m30{
    display:inline;
    margin-bottom:11px;
  }
}
@media only screen and (max-width:659px){
  // .m31{
  //   right:209px;
  // }
  .m33{
    display:none;
  }
}
@media only screen and (max-width:549px){
  .m9{
    display:none;
  }
  .m29{
    display:inline-block;
  }
  .m30{
    margin-top:4px;
  }
  .m32{
    margin-bottom:4px;
  }
  .m31{right: 0; width:260px;}

}
@media only screen and (max-width:494px){
  .m10{
    display:none;
  }
  .m36{
    display:inline;
  }
  .header__login-dropdown{right: 0;}
}
@media only screen and (max-width:540px){
  .m12{
    margin-top:10px;
    width:220px;
    height:unset !important;
  }
  .m13{
    height:50px;
  }
  .m6{
    padding:0px !important;
  }
  .m14{
    > div{
      line-height:50px;
    }
  }
  .m15{
    margin-right:18px;
  }
}
// end navbar

// start navbar2
@media only screen and (max-width:1760px){
  .header__login-dropdown{
    height: 54px;
    bottom: -55px;
    right: 50px;
    font-size: 15px;
  }

 .mg1{
  font-size:14px;
  padding:0px 12px;
  line-height:52px;
 }
 .m7{
  padding:0px 7px !important;
 }
 .m8{
  line-height:52px;
  padding:0px 12px 0px 7px !important;
  height:52px;
 }
 .m9{
  padding:0px 8px;
  margin-left:10px;
  line-height:52px;
  height:52px;
 }
 .m10{
  line-height:52px;
  height:52px;
  padding:0px 10px !important;
 }
 .m11{
  height:47px;
  margin-top:1px;
 }
 .m12{
  height:41px;
  margin-top:5px;
 }
 .m14{
  > div{
    line-height:52px;
  }
 }
 .m19{
  padding:0px 16px !important;
 }
 .m20{
  font-size:14px;
  line-height:37px;
 }
 .m21{
  height:27px;
 }
 .m22{
  width:221px;
  height:37px;
  margin-top:7px;
 }
 .m23{
  margin-top:-9px;
  margin-left:6px;
  margin-right:4px;
 }
 .m24{
  height:52px;
 }
 .m25{
  font-size:14px;
 }
 .m26{
  margin-right:4px;
 }
}
// end navbar 2

// start banner
@media only screen and (max-width:1785px){
  .m40{
    padding:0px !important;
  }
  .mg40{
    font-size:14px !important;
    margin-top:17px !important;
  }
  .mg41{
    font-size:16px !important;
  }
  .mg42{
    margin-top:12px;
    margin-bottom:9px;
    img{
      width:50px;
    }
  }
  .m37{
    margin-top:8px;
  }
  .m38{
    margin-top:24px;
  }
}
@media only screen and (max-width:1400px){
  .mg40{
    font-size:12px !important;
    margin-top:14px !important;
  }
  .mg41{
    font-size:14px !important;
  }
  .mg42{
    margin-top:12px;
    margin-bottom:9px;
    img{
      width:47px;
    }
  }
  .m37{
    margin-top:8px;
  }
  .m38{
    margin-top:24px;
  }

  .m42{
    font-size: 60px;
    line-height: 65px;
    display: block;
    width: fit-content;
  }
  .m43{
    font-size:18px;
    line-height:26px;
  }
  .m44{
    width:37px !important;
  }
  .m45{
    margin-left:12px;
  }
  .m46{
    margin-left:0px;
    margin-top:23px;
  }
  .m47{
    padding:8px 14px;
    font-size:14px;
  }
  .m48{
    padding:9px 16px;
    font-size:14px;
  }
  .m49{
    width: 100%;
  }
  .m50{
    font-size:17px;
  }
}
@media only screen and (max-width:1280px){
  .mg40{
    font-size:12px !important;
    margin-top:12px !important;
  }
  .mg42{
    margin-top:12px;
    margin-bottom:9px;
    img{
      width:40px;
    }
  }
  .m38{
    margin-top:22px;
  }
}

@media only screen and (max-width:1170px){
  .mg42{
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .mg40{
    font-size: 13px !important;
  }

  .m38{
    margin-right: 0;
    float: left;
  }

  .mg41 {
    font-size: 12px !important;
  }
}

@media only screen and (max-width:1160px){
  .mg40{
    font-size:12px !important;
    margin-top:12px !important;
  }
  .mg42{
    margin-top:12px;
    margin-bottom:9px;
    img{
      width:40px;
    }
  }
  .m38{
    margin-right:12px;
  }
}
@media only screen and (max-width:991px){
  .m39{
    margin-bottom:0px !important;
  }
  .mg42{
    margin-bottom:0px;
  }
  .m40{
    text-align: center;
    padding-bottom:0px !important;
  }
  
  section#quickNEasy {
    .col-md-10,
    .col-md-2 {
      flex: 100% !important;
      width: 100% !important;
      max-width: 100% !important;
    }
  }
  .col-md-2.np.m55 {
    text-align: center;
  }
  .c24.mg41.m38 {
    float: none;
    display: inline-block;
  }

  .m37 {
    margin:15px 10px !important;
    display: inline-block;
    float: none;
    position: relative !important;
  }
  .m38 {
    margin-right: 0;
  }

  .g5.mg43 {
    text-align: left;
  }

  section#quickNEasy .col-md-2{
    margin: 0 auto !important;
    text-align: center;
  }

  .label-shape__navigation ol li.active label{
    width: 60%;
  }
}
@media only screen and (max-width:935px){
  .m39{
    margin-bottom:0px !important;
  }
}

@media only screen and (max-width:850px){
  .m51{
    display:none;
  }
  .m41{
    width:100% !important;
    height:320px;
  }
  .m52{
    width:100% !important;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
  }
  .m42{
    width:100%;
    font-size: 32px !important;
    line-height: 36px !important;
    float:left;
    padding-right:50%;
  }
  .m46{
    width:355px;
    margin-top:9px;
  }
  .m48{
    margin-left:0px;
    margin-top:7px;
  }
  .m49{
    margin-bottom:6px;
    margin-top: 75px;
  }
  .m43{
    font-size:15px;
    line-height:22px;
    text-shadow: 0px 0px 7px #fff;
    color: #000;
    font-weight: 700;
  }
  .m44{
    width:27px;
  }
  .m45{
    margin-top:7px;
    margin-left:-24px;
  }
  .m50{
    width:100%;
    bottom:2px;
  }
}

@media only screen and (max-width:767px){
  .m54{
    display:inline;
    margin-top:-5px !important;
    margin-bottom:1px !important;
  }
}

@media only screen and (max-width:657px){
  .m53{
    display:none;
  }
  .m45-1{
    display:inline;
  }
  .m43-1{
    display:inline;
    margin-top:10px;
    margin-bottom:10px;
  }
  .m42{
    margin-top:14px;
    padding-right:25%;
  }
  .m44-1{
    width:30px;
    margin-top:10px;
  }
  .m56{
    padding:14px 0px !important;
  }
}

@media only screen and (max-width:576px){
  .m40{
    > div{
      margin-top:0px !important;
      margin-bottom:25px !important;
    }
  }
}

@media only screen and (max-width:487px){
  .m42{
    padding-right:0%;
    line-height:34px;

  }
  .m50{
    font-size:14px;
  }
  .m53{
    display:none;
  }
  .m47{
    display:inline;
  }
  .m48{
    margin-bottom:14px;
    display:inline;
  }
}
// end banner


// start footer - follow us background
@media only screen and (max-width:1860px){
  .m59{
    width:414px;
    left:-112px;
  }
}
@media only screen and (max-width:1780px){
  .m59{
    height:457px;
    left:-107px;
    width:386px;
  }
}
@media only screen and (max-width:1640px){
  .m59{
    height:434px;
    right: 0;
    left: unset;
    width: 300px;
    margin-top: -47px;
    background-size: contain;
  }
}

@media only screen and (max-width:867px){
  .m97{
    margin-top:279px;
  }
}

@media only screen and (max-width:780px){

}

@media only screen and (max-width:767px){
  .m59{
    right: 0;
    left: 0;
    margin: auto;
  }
}
@media only screen and (max-width:568px){
  .m59{
    display: none;
  }
}
// end footer - follow us background

// start footer scols
.scol-2,.scol-7{
  display:none;
}
@media only screen and (max-width:1633px){
  .scol-4{
    flex:0 0 28% !important;
  }
  .scol-5{
    flex:0 0 16% !important;
  }
}
@media only screen and (max-width:1577px){
  .scol-2{
    display:inline;
  }
  .scol-1{
    display:none;
  }
  .scol-3{
    flex:0 0 20% !important;
    max-width: 64% !important;
  }
  .scol-4{
    flex:0 0 33% !important;
    max-width: 64% !important;
  }
}

@media only screen and (max-width:1384px){
  .scol-3{
    flex:0 0 21% !important;
  }
  .scol-4{
    flex:0 0 36% !important;
  }
}
@media only screen and (max-width:1277px){
  .scol-2{
    display:none;
  }
  .scol-1{
    display:inline;
    flex:0 0 34% !important;
  }
  .scol-4{
    flex:0 0 40% !important;
  }
  .scol-5{
    flex:0 0 35% !important;
  }
  .scol-6{
    flex:0 0 41% !important;
  }
  .scol{
    margin-bottom:50px;
  }
  .scol-3{
    flex:0 0 25% !important;
  }
}
@media only screen and (max-width:1111px){
  .scol-2{
    display:inline;
  }
  .scol-1{
    display:none;
  }
  .scol-4{
    flex:0 0 59% !important;
  }
  .scol-3{
    flex:0 0 32% !important;
  }
  .scol-6{
    margin-right:18%;
  }
}
@media only screen and (max-width:903px){
  .scol-1,.scol-3,.scol-4,.scol-5,.scol-6,.scol-7{
    flex:0 0 100% !important;
    max-width:100% !important;
  }
  .scol-6{
    display:none;
  }
  .scol-7{
    display:inline;
  }

}
// end footer scols


/* for owl only */
.owl-carousel2 .owl-stage{
  padding-top:143px;
}
.owl-theme .owl-nav{
  margin-top:-3px;
}
/* end for owl only */


.m61{
  padding-right:3px;
  padding-left:3px;
}
@media only screen and (max-width:1800px){
  .m62{
    margin-top:51px;
    margin-bottom:27px;
  }
}
@media only screen and (max-width:1600px){
  .m57{
    margin-bottom:-43px !important;
  }
  .mg63{
    font-size:18px !important;
    margin-top:4px !important;
  }
}
@media only screen and (max-width:991px){
  .m57{
    margin-top:57px;
    margin-bottom:42px;
    line-height:57px;
    font-size:31px;
    color:#426db5;
  }
  .mg63{
    font-size:16px !important;
    margin-top:6px !important;
  }

  .m40 .col-lg-3{
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m38{
    margin-bottom:10px;
  }

  .mg41{font-size: 12px !important;}

  .col-md-2.cart-price-section, .col-md-2.cart-quantity-section, .col-md-2.cart-total-section{
    width: 30%;
    flex: 30%;
  }

  .product-thumbnail-mobile{max-width: 23% !important;}
  .product-thumbnail-mobile .img-holder{height: 175px !important;}
  .cart-details-mobile{
    display: inline-block;
    max-width: 65% !important;
    text-align: left !important;
    margin-bottom: 20px;
  }

  .cart-details-mobile table{
    margin: 0 !important;
  }

  .col-md-2.cart-price-section,
  .col-md-2.cart-quantity-section,
  .col-md-2.cart-total-section {
    width: 30% !important;
    flex: 30% !important;
  }
}
@media only screen and (max-width:872px){
  .owl-carousel2 .owl-stage{
    padding-left:27%;
  }
}
@media only screen and (max-width:850px){
  .container-fluid.eg1.m61.c113 {
    width: 50% !important;
  }
  .owl-carousel2 .owl-stage {
    padding-left: 24%;
  }
}
@media only screen and (max-width:704px){
  .owl-carousel2 .owl-stage{
    padding-left:25%;
  }
}
@media only screen and (max-width:794px){
  .owl-carousel2 .owl-stage{
    padding-left:23%;
  }
}
@media only screen and (max-width:727px){
  .owl-carousel2 .owl-stage{
    padding-left:22%;
  }
}
@media only screen and (max-width:684px){
  .owl-carousel2 .owl-stage{
    padding-left:19%;
  }
}
@media only screen and (max-width:644px){
  .owl-carousel2 .owl-stage{
    padding-left:17%;
  }
}
@media only screen and (max-width:597px){
  .owl-carousel2 .owl-stage{
    padding-left:15%;
  }
  .container-fluid.eg1.m61.c113 {
    width: 80% !important;
  }
}
@media only screen and (max-width:539px){
  .owl-carousel2 .owl-stage{
    padding-left:17%;
  }
}
@media only screen and (max-width:491px){
  .owl-carousel2 .owl-stage{
    padding-left:15%;
  }
}
@media only screen and (max-width:470px){
  .owl-carousel2 .owl-stage{
    padding-left:12%;
  }
}
@media only screen and (max-width:450px){
  .owl-carousel2 .owl-stage{
    padding-left:11%;
  }
}
@media only screen and (max-width:432px){
  .owl-carousel2 .owl-stage{
    padding-left:9%;
  }
}
@media only screen and (max-width:418px){
  .owl-carousel2 .owl-stage{
    padding-left:6%;
  }
}
@media only screen and (max-width:392px){
  .owl-carousel2 .owl-stage{
    padding-left:4%;
  }
}
@media only screen and (max-width:570px){
  .m61{
    width:100% !important;
  } 
}
// end why choose us

// start featured
.m67{
  display:none;
}
.m84{
  display:none;
}
@media only screen and (max-width:1900px){
  .m86{
    margin-top:604px;
  }
}
@media only screen and (max-width:1760px){
  .m71 .m82{
    margin-right:51px;
  }
}
@media only screen and (max-width:1600px){
  .m86{
    margin-top:580px;
  }
  .m63{
    width:87%;
  }
}
@media only screen and (max-width:1400px){
  .m67{
    display:inline-block;
  }
  .m64{
    display:none;
  }
  .m65{
    flex:0 0 50%;
    max-width:50%;
  }
  .m66{
    width:auto;
  }
  .m67{
    margin-top:15px;
  }
  .m68{
    margin-top:30px;
  }
  .m69{
    margin-top:-154px;
  }
  .m71{
    margin-top:517px;
  }
}
@media only screen and (max-width:1212px){
  .m86{
    margin-top:536px;
  }
}
@media only screen and (max-width:1200px){
  .m86{
    margin-top:464px;
  }
  .owl-stage-outer{
    height:420px;
  }
  .m85{
    height:auto;
    padding-bottom:30px;
  }
  .m84{
    display:inline;
  }
  .m69{
    margin-top:-20px;
  }
  .m66{
    font-size:18px;
    line-height:30px;
    margin-top:25px;
  }
  .m67{
    font-size:14px;
    line-height:24px;
  }
  .m70{
    margin-top:23px;
  }
  .m71{
    margin-top:437px;
  }
  .m73{
    margin-top:12px !important;
  }
  .m78{
    font-size:1.3125rem;
  }
  .m79{
    width:364px;
  }
  .m80{
    font-size:1.0rem;
  }
  .m71 .owl-prev{
    display:inline !important;
    float:left;
  }
  .m71 .m81{
    margin-left:51px;
  }
  .m71 .owl-next{
    float:right;
  }
}
@media only screen and (max-width:1140px){
  .m86{
    margin-top:491px;
  }
}
@media only screen and (max-width:1080px){
  .m86{
    margin-top:515px;
  }
}

@media only screen and (max-width:1045px){
  .mg42 img {
    width: 35px;
  }

  .mg42{margin-left: 5px;}
  .mg41{font-size: 12px !important;}
}


@media only screen and (max-width:942px){
  .m86{
    margin-top:495px;
  }
}
@media only screen and (max-width:867px){
  .m69{
    margin-top:-20px;
  }
  .m66{
    font-size:18px;
    line-height:30px;
  }
  .m67{
    font-size:14px;
    line-height:24px;
  }
  .m70{
    margin-top:23px;
  }
  .m71{
    margin-top:619px;
  }
  .m72{
    flex:0 0 70%;
    max-width:70%;
  }
  .m71{
    margin-top:751px;
  }
  .m65{
    flex: 0 0 100%;
    max-width:100%;
  }
  .m74{
    width:auto;
  }
  .m71 .owl-stage{
    padding-left:28%;
  }
}
@media only screen and (max-width:800px){
  .m86{
    margin-top:467px;
  }
  .m71{
    margin-top:696px;
  }
  .m71 .owl-stage{

    padding-left:24%;
  }
}
@media only screen and (max-width:750px){
  .m86{
    margin-top:485px;
  }
}
@media only screen and (max-width:700px){
  .m86{
    margin-top:457px;
  }
  .m72{
    flex:0 0 85%;
    max-width:85%;
  }
  .m74{
    font-size:34px;
  }
  .m68{
    font-size:20.98px;
  }
  .m71{
    margin-top:695px;
  }
}
@media only screen and (max-width:676px){
  .m75{
    float:unset;
    margin:0px auto 10px auto;
    width:283px;
    text-align: center;
  }
  .m76{
    float:unset;
    margin:0px auto;
  }
  .m77{
    margin-right:4px;
  }
  .m71 .m81{
    margin-left:2px;
  }
  .m71 .m82{
    margin-right:2px;
  }
  .m71 .owl-stage{
    padding-left:16%;
  }
}
@media only screen and (max-width:580px){
  .m40 .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width:500px){
  .m86{
    margin-top:400px;
  }
  .owl-stage-outer{
    height:452px;
  }
  .m72 {
    flex:0 0 95%;
    max-width:95%;
  }
  .m69{
    margin-right:-14%;
  }
  .g12 {
    margin-bottom: 0;
  }
  .m71 .owl-stage{
    padding-left:12%;
  }

  .product-thumbnail-mobile{max-width: 88% !important;}
  .cart-details .cart-details-mobile{max-width: 100% !important; text-align: center !important; margin-top: 20px;}
  .cart-details__table__item-info table{margin: 0 auto !important;}

  .cart-details h2{font-size: 18px;}
  .cart-details__table__item-info table{font-size: 15px;}

  .cart-details__table--data .img-holder .img-item img{
    max-height: 170px !important;
    max-width: 180px !important;
  }

  .cart-details__table--data .img-holder{height: 180px !important;}

  .col-md-2.cart-price-section,
  .col-md-2.cart-quantity-section,
  .col-md-2.cart-total-section{
    width: 25% !important;
    flex: 25% !important;
  }

  .col-md-2.cart-price-section .mobile-cart-title,
  .col-md-2.cart-quantity-section .mobile-cart-title,
  .col-md-2.cart-total-section .mobile-cart-title{
    font-size: 16px !important;
  }

  .col-md-2.cart-price-section h2,
  .col-md-2.cart-quantity-section h2,
  .col-md-2.cart-total-section h2{
    font-size: 18px !important;
  }

  .col-md-2.cart-quantity-section .form-group .form-control{
    width: 60px;
    height: auto;
    padding: 2px 10px;
    font-size: 16px;
  }

  .col-md-2.cart-quantity-section [type=submit]{vertical-align: top;}
  .col-md-2.cart-quantity-section i.refresh{
    top: 0px;
    left: -9px;
    transform: scale(0.7);
  }
}

@media only screen and (max-width:480px){
  .col-md-2.cart-price-section,
  .col-md-2.cart-quantity-section,
  .col-md-2.cart-total-section{
    width: 100%;
    flex: 100%;
  }
}

@media only screen and (max-width:460px){
  .m71 .owl-stage{
    padding-left:12%;
  }

  .m40 .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width:414px){
  .m40 .col-lg-3 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .g5.mg43,
  .mg42{
    float: none !important;
    display: inline-block !important;
  }
}


@media only screen and (max-width:400px){
  .m75{
    width:249px;
  }
  .m72 {
    flex:0 0 100%;
    max-width:100%;
  }
  .m71 {
    margin-top:702px;
  }
  .m75{
    padding:16px 19px;
  }
  .m76{
    padding:16px 19px;
  }

  .col-md-2.cart-price-section,
  .col-md-2.cart-quantity-section,
  .col-md-2.cart-total-section{
    width: 100% !important;
    flex: 100% !important;
    margin-bottom: 10px;
  }
}
// end featured

// start need help  
@media only screen and (max-width:1700px){
  .m87{
    flex:0 0 32%;
    max-width:32%;
  }
}
@media only screen and (max-width:1340px){
  .m88{
    font-size:1.275rem;
  }
  .m89{
    height:40px;
    width:40px;
    img{
      height:27px;
      width:27px;
      margin-top:7px;
      margin-left:-9px;
    }
  }
  .m90{
    width:291px;
  }
}
@media only screen and (max-width:1230px){
  .m87{
    margin-right:21px;
  }
}
@media only screen and (max-width:1155px){
  .m87{
    margin-right:40px;
  }
  .m91{
    margin-left:-45px;
  }
}
@media only screen and (max-width:1070px){
  .m93{
    font-size:2.225rem;
  }
  .m94{
    line-height:1.7rem;
    font-size:0.97rem;
    width:255px;
  }
  .m91{
    margin-top:66px;
    margin-bottom:65px;
  }
  .m87{
    margin-top:57px;
    margin-right:63px;
  }
  .m95{
    font-size:0.85rem;
    font-weight:600;
    padding:7px 0px 8px 0px;
    width:227px;
  }
  .m96{
    font-size:0.85rem;
    font-weight:600;
    padding:7px 0px 8px 0px;
    width:227px;
  }
  .m92{
    font-size:2.425rem;
  }
  .m88{
    font-size:1.225rem;
  }
}
@media only screen and (max-width:1070px){
  .m92{
    font-size:2.025rem;
  }
  .m94{
    margin-top:0px;
  }
  .m87{
    margin-right:84px;
  }
}
@media only screen and (max-width:767px){
  .m91{
    margin-top:23px;
    margin-bottom:0px;
    margin-left:23px;
  }
  .m92{
    width:auto;
  }
  .m94{
    width:auto;
    font-size:0.9rem;
  }
  .m87{
    margin:23px 0px 33px 51px !important;
    padding:0px;
  }
  .m96{
    margin-top:10px;
    width:231px;
  }
  .m95{
    margin-top:10px;
    width:187px;
  }

  .c23{background: #783a8f;}
  .m40 .col-lg-3{flex: 0 0 50%; max-width: 50%;}

  .cart-details__table--data .col-md-1{
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
@media only screen and (max-width:416px){
  .m96{
    font-size:0.8rem;
    width:206px;
    margin-left:-3px;
  }
  .m88{
    font-size:1rem;
    margin-bottom:21px;
  }
  .m92{
    font-size:1.9rem;
  }
}

.m97{
  margin-top:218px;
}

@media only screen and (max-width:1900px){
  .m99{
    height:1581px !important;
  }
}
@media only screen and (max-width:1624px){
  .m99{
    height:1607px !important;
  }
}
@media only screen and (max-width:1624px){
  .m99{
    height:1588px !important;
  }
}
@media only screen and (max-width:1400px){
  .m99{
    height:1509px !important;
  }
}
@media only screen and (max-width:1309px){
  .m99{
    height:1535px !important;
  }
}
@media only screen and (max-width:1200px){
  .m99{
    height:1403px !important;
  }
}
@media only screen and (max-width:1070px){
  .m99{
    height:1371px !important;
  }
  .m97 {
    margin-top:201px;
  }
}
@media only screen and (max-width:912px){
  .m99{
    height:1395px !important;
  }
}
@media only screen and (max-width:867px){
  .m99{
    height:1692px !important;
  }
}
@media only screen and (max-width:830px){
  .m99{
    height:1675px !important;
  }
}
@media only screen and (max-width:809px){
  .m99{
    height:1647px !important;
  }
}
@media only screen and (max-width:794px){
  .m99{
    height:1610px !important;
  }
}
@media only screen and (max-width:700px){
  .m97 {
    margin-top:230px;
  }
}
@media only screen and (max-width:676px){
  .m99{
    height:1697px !important;
  }
  .m97 {
    margin-top:207px;
  }
}
@media only screen and (max-width:600px){
  .m97 {
    margin-top:255px;
  }

  .page-thankyou--section h1{font-size: 75px !important; letter-spacing: 0 !important;}
  .page-thankyou--section h2{font-size: 24px !important;}
  .page-thankyou--section{font-size: 18px !important;}

  .cart-details-mobile{max-width: 60% !important;}
}
@media only screen and (max-width:575px){
  .m97 {
    margin-top:486px;
  }
}
@media only screen and (max-width:540px){
  .m97 {
    margin-top:471px;
  }
}
@media only screen and (max-width:529px){
  .m97 {
    margin-top:506px;
  }
}
@media only screen and (max-width:482px){
  .m97 {
    margin-top:560px;
  }

  .m11{
    height: 36px;
    margin-top: 10px;
  }

  .header__login-dropdown{
    height: 54px;
    bottom: -55px;
    right: 0;
    font-size: 14px;
    width: 155px;
  }
}
@media only screen and (max-width:389px){
  .m97 {
    margin-top:579px;
  }
  .m100{
    margin-left:-47px;
  }
  .c3 {
    margin-left: 5px;
  }
  .m15 {
    margin-right: 10px;
  }
}

@media only screen and (max-width:380px){
  .m11{height: 36px; margin-top: 10px;}
}

@media only screen and (max-width:1199px){
  .m42{
    font-size: 48px;
    line-height: 58px;
  }

  .tagline-center{font-size: 20px;}
}

@media only screen and (max-width:991px){
  .home-slider .c8{
    background-position: center right !important;
  }
}

@media only screen and (max-width: 600px){
  .m42{
    text-shadow: 2px 1px 1px #fff;
    margin-bottom: 15px;
  }

  .m47,
  .m48 {
    padding: 7px 12px;
    font-size: 12px;
    margin-top: 3px;
    display: inline-block;
    width: 100%;
  }

  .tagline-center{
    font-size: 15px;
    width: 100%;
  }

  .m41{
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-thankyou{
  &--section{
    padding: 200px 0 100px;
    text-align: center;

    h1{
      color: #6c257e;
      font-size: 90px;
      letter-spacing: 5px;
    }

    .note-one{
      margin: 80px 0;

      i{
        display: inline-block;
        vertical-align: middle;
        width: auto;
        font-size: 74px;
        margin-right: 20px;
      }

      p{
        display: inline-block;
        vertical-align: middle;
        width: 75%;
        font-size: 21px;
        text-align: left;
        font-style: italic;
      }
    }

    .continue-shopping{
      a{
        background: #6c257e;
        padding: 20px 40px;
        border-radius: 10px;
        color: #fff;
        z-index: 999999;
        position: relative;
      }
    }
  }
}